---
import { getCollection } from "astro:content";
const allPosts = (await getCollection("posts")).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  );

import Basic from '../../layouts/Basic.astro';
---

<Basic title="Web Log" page="blog" />
  <ul>
    <li>
      <a href="/basic/short/">My Short Thorts / Shought Thoughts</a>
    </li>
    {
      allPosts.map((post) => (
        <li>
          <a href={"/basic/posts/" + post.slug}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Basic>