---
import { getCollection } from "astro:content";
const allPosts = (await getCollection("posts")).filter((post) => post.data.draft !== true).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  );

import Basic from '../../layouts/Basic.astro';
---

<Basic title="Web Log" page="blog">
  <ul class="rainbow">
    <li>
      <h2><a href="/basic/notes/">My Weak Notes a.k.a. #weekNotes</a></h2>
      Weak notes are like #weekNotes but less regularly posted :)
    </li>
    <li>
      <h2><a href="/basic/short/">My Short Thorts / Shought Thoughts</a></h2>
      A collection of shorter posts not big enough for their own article.
    </li>
    {
      allPosts.map((post) => (
        <li>
          <h2><a href={"/basic/posts/" + post.slug}>{post.data.title}</a></h2>
          {post.data.description}
        </li>
      ))
    }
  </ul>
</Basic>