---
// import PrivacyPolicy from '../../components/PrivacyPolicy.astro';
import Basic from '../../layouts/Basic.astro';
---

<Basic page="home">
  <h2>So, what's new?</h2>
  <div id="now">
    <script is:inline src="https://status.lol/sara.js?time&link&fluent" />
    <script is:inline src="https://omgnow.rknight.me/now.js?a=sara" />
  </div>
</Basic>