---
// import PrivacyPolicy from '../../components/PrivacyPolicy.astro';
import Basic from '../../layouts/Basic.astro';
---

<Basic page="home" />
  <h3>So, what's new?</h3>
  <script is:inline src="https://omgnow.rknight.me/now.js?a=sara"></script>
</Basic>