---
// import PrivacyPolicy from '../../components/PrivacyPolicy.astro';
import Basic from '../../layouts/Basic.astro';
---

<Basic page="home">
  <p>It's all about meeeeeeeeeeeeeeeeeeeeeeeee!</p>
  <br>
  <h2>So, what's new?</h2>
  <script is:inline src="https://omgnow.rknight.me/now.js?a=sara"></script>
</Basic>