---
// import PrivacyPolicy from '../../components/PrivacyPolicy.astro';
import Basic from '../../layouts/Basic.astro';
---

<Basic page="home">
  <h2>Hi and welcome!</h2>
    <p>I am a techy, creative person with a front end develop&shy;ment 'Schwer&shy;punkt' :)</p>
    <p>I'm learning everything I can about Web Accessibility (a.k.a. a11y), because the internet is for *everyone*.</p>
    <p>
      This site is built with vanilla HTML, CSS and just a little JS in <a href="https://astro.build/">Astro</a>. If you'd like to see something whizzy, my fancier site is at <a href="/">sarajoy.dev</a></p>
  <h2 id="status">Current status</h2>
  <script is:inline src="https://status.lol/sara.js?time&link" />
  <h2 id="now">So, what's new?</h2>
  <script is:inline src="https://omgnow.rknight.me/now.js?a=sara" />
</Basic>