---
import { getCollection } from "astro:content";
const allPosts = await getCollection("short");

import BaseHead from '../../components/BaseHead.astro';
import BasicHeader from '../../components/BasicHeader.astro';
import Toggle from '../../components/Toggle.astro';
// import PrivacyPolicy from '../../components/PrivacyPolicy.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image='/images/social-card.png' />
	</head>
	<body>
    <BasicHeader />
    <main>
      <p>Short Thorts / Shought Thoughts</p>
      <ul>
        {
          allPosts.map((thort) => (
            <li>
              <a href={"short/" + thort.slug}>{thort.data.title}</a>
              <p style="white-space: pre; max-width: 80ch;">{thort.body}</p>
            </li>
          ))
        }
      </ul>
    </main>
    <footer><Toggle /></footer>
  </body>
</html>