---
import { getCollection } from "astro:content";
const allPosts = (await getCollection("short")).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  );

import Basic from '../../layouts/Basic.astro';
import ThortBody from '../../components/ThortBody.astro';
---

<Basic title="Short Thorts" page="short">
  <a href="#" class="backtotop" title="Back to top"><img src="/images/icons/chevron-up.svg" alt="chevron pointing up"></a>
  <ul>
    {allPosts.map((thort) => (
      <li>
        <a href={"/basic/short/" + thort.slug}>
          <h2>{thort.data.title}</h2>
        </a>
        <time datetime={thort.data.pubDate}>
          {new Date(thort.data.pubDate).toLocaleDateString('en-gb', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })}
        </time>
        <ThortBody slug={thort.slug} />
      </li>
    ))}
  </ul>

  <p class="back"><a href="/basic/blog">&larr; back to {"blog"} index</a></p>
</Basic>