---
import { getCollection } from "astro:content";
const allPosts = await getCollection("short");

import BaseHead from '../../components/BaseHead.astro';
import BasicHeader from '../../components/BasicHeader.astro';
import Toggle from '../../components/Toggle.astro';
// import PrivacyPolicy from '../../components/PrivacyPolicy.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image='/images/photo.png' />
	</head>
	<body>
    <BasicHeader />
    <main class="short">
      <h1 class="fancy">Short Thorts</h1>
      <ul>
        {
          allPosts.map((thort) => (
            <li>
              <a href={"/basic/short/" + thort.slug}><h2>{thort.data.title}</h2></a>
              <p>{thort.body}</p>
            </li>
          ))
        }
      </ul>
    </main>
    <footer><Toggle /></footer>
  </body>
</html>