---
import Basic from '../../layouts/Basic.astro';
---

<Basic title="Stuff" page="stuff">
  <p>Stuff Goes Here!</p>
  <p><a href="/">Go back to the less basic site</a> :)</p>

  <div id="webring">
    <p>CS.Sjoy.lol webring:<p>
    <div class="webring-nav">
        <a href="https://webri.ng/webring/cssjoy/previous?via=https://sarajoy.dev/basic">&lt;-- Previous</a>
        <a href="https://webri.ng/webring/cssjoy/random?via=https://sarajoy.dev/basic">Random</a>
        <a href="https://webri.ng/webring/cssjoy/next?via=https://sarajoy.dev/basic">Next --&gt;</a>
    </div>
</div>
</Basic>