---
import Basic from '../../layouts/Basic.astro';
---

<Basic title="Stuff" page="stuff">
  <p>Stuff Goes Here!</p>
  <p><a href="/">Go back to the less basic site</a> :)</p>


  <h2 id="webrings">Webrings</h2>
  <div id="webring">
    <p>CS.Sjoy.lol webring</p>
    <div class="webring-nav">
      <a href="https://webri.ng/webring/cssjoy/previous?via=https://sarajoy.dev/basic/stuff/#webring">← Prev</a>
        &centerdot;
      <a href="https://webri.ng/webring/cssjoy/random?via=https://sarajoy.dev/basic/stuff/#webring">Random</a>
      &centerdot;
      <a href="https://webri.ng/webring/cssjoy/next?via=https://sarajoy.dev/basic/stuff/#webring">Next →</a>
    </div>
  </div>
</Basic>