---
import Basic from '../../layouts/Basic.astro';
---

<Basic title="Stuff" page="stuff">
  <h2 id="makes">Makes</h2>
  <p><a href="/#stuff">See more on the less basic site</a> :)</p>

  <h2 id="uses">Uses</h2>
  <p>Coming soon...</p>

  <h2 id="links">Links</h2>
  <h3>Apparel</h3>
  <p><a href="https://webbed-briefs.teemill.com/collection/new">Webbed Briefs</a> designs by <a href="https://front-end.social/@heydon">Heydon</a></p>
  <p><a href="https://etsy.com/de-en/shop/HTMLZ">HTMLZ</a> by <a href="https://mastodon.social/@SteveFaulkner">Steve Faulkner</a></p>
  <h3>Personal Sites</h3>
  <p><a href="https://personalsit.es/">personalsit.es</a></p>
  <p><a href="https://blogroll.org/">Ye Olde Blogroll</a></p>
  <h3>Web Development</h3>
  <p><a href="https://docs.emmet.io/cheat-sheet/">Emmet Cheat Sheet</a></p>

  <h2 id="webrings">Webrings</h2>
  <div id="webring">
    <p>CSS JOY webring</p>
    <div class="webring-nav">
      <a href="https://webri.ng/webring/cssjoy/previous?via=https%3A%2F%2Fsarajoy.dev%2Fbasic%2Fstuff%2F%23webrings">← Prev</a>
        &centerdot;
      <a href="https://webri.ng/webring/cssjoy/random?via=https%3A%2F%2Fsarajoy.dev%2Fbasic%2Fstuff%2F%23webrings">Random</a>
      &centerdot;
      <a href="https://webri.ng/webring/cssjoy/next?via=https%3A%2F%2Fsarajoy.dev%2Fbasic%2Fstuff%2F%23webrings">Next →</a>
    </div>
  </div>
</Basic>
