---
import Basic from '../../layouts/Basic.astro';
---

<Basic title="Test" page="test">
  <p>Sara <span>J</span>oy SJW</p>
  <p>SHIPS WHISTLE</p>
</Basic>

<style>
  p {
    font-family: 'Ships Whistle Italic';
    font-feature-settings: 'ss01';
    font-size:xx-large;
    & span {
      font-feature-settings: 'ss02';
    }
  }
</style>