---
import Basic from '../../../layouts/Basic.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const notesEntries = await getCollection('notes');
  return notesEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Basic title={entry.data.title} noFancy description="A Weak Note" page="note">
  <h1 class="title">{entry.data.title}</h1>
  {entry.data.pubDate && <p><time>{new Date(entry.data.pubDate).toLocaleDateString('en-gb', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  })}</time></p>}
  {entry.data.updatedDate && <p>Last updated on <time>{new Date(entry.data.pubDate).toLocaleDateString('en-gb', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  })}</time></p>}
  <Content />
  <p class="back"><a href="/basic/notes">&larr; back to notes index</a></p>
</Basic>
