---
async function getEntries() {
  const response = await fetch(new Request(`https://api.netlify.com/api/v1/forms/${import.meta.env.GUESTBOOK_ID}/submissions`, {method: 'GET', headers: {'Authorization': `Bearer ${import.meta.env.NETLIFY_ACCESS}`}, 'Accept':'application/json'}));

  return response.json();
}
const entries = await getEntries();
---
<html>Hello, world - sign my guestbook!
  <br>Don't expect instant update, new messages will only be added when I redeploy my site

  <form name="guestbook" method="POST" data-netlify="true" Content-Type="application/x-www-form-urlencoded">
    <input type="hidden" name="form-name" value="guestbook" />
    <p>
      <label
        >Name:
        <br /><input type="text" name="name" /></label
      >
    </p>
    <p>
      <label
        >Email address:
        <br /><input type="email" name="email" /></label
      >
    </p>
    <p>
      <label class="message">Message:<br /><textarea name="message" /></label>
    </p>
    <p>
      <button type="submit"><b>Send</b></button>
    </p>
  </form>
  {entries.map((entry) =>(
    <article>
      <p>{entry.name}</p>
      <p>{entry.body}</p>
      <p>{new Date(entry.created_at).toLocaleDateString('en-gb', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })}</p>
    </article>
  ))}
</html>