---
// async function getEntries() {
//   const response = await fetch(new Request('https://api.netlify.com/api/v1/sites/ID/submissions', {method: 'GET', headers: {'Authorization': 'Bearer SECRET'}, 'Accept':'application/json'}));

//   return response.json();
// }

// const entries = await getEntries();
// console.log(entries);
---
<html>Hello, world

  <form name="guestbook" method="POST" data-netlify="true" Content-Type="application/x-www-form-urlencoded">
    <input type="hidden" name="form-name" value="guestbook" />
    <p>
      <label
        >Name:
        <br /><input type="text" name="name" /></label
      >
    </p>
    <p>
      <label
        >Email address:
        <br /><input type="email" name="email" /></label
      >
    </p>
    <p>
      <label class="message">Message:<br /><textarea name="message" /></label>
    </p>
    <p>
      <button type="submit"><b>Send</b></button>
    </p>
  </form>
  <!-- {entries.map((entry) =>(
    <p>{entry.name}</p>
  ))} -->
</html>