@font-face {
	font-family: 'Karla';
	font-weight: 200 800;
	font-display: swap;
	src:
		url('/fonts/karla.woff2') format('woff2 supports variations'),
		url('/fonts/karla.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Urbanist';
	font-weight: 100;
	font-display: swap;
	src:
		url('/fonts/urbanist.woff2') format('woff2 supports variations'),
		url('/fonts/urbanist.woff2') format('woff2-variations');
}

* {
	box-sizing: border-box;
}

:root {
	/* set 1rem: */
	font-size: 18px;

	/* colours */
	
	--base: 0, 0%;
	--pop1: 190, 35%;
	--pop2: 325, 35%;

	--text: hsl(var(--base), 15%);
	/* --background: hsl(var(--pop1), 75%); */

	--background: linear-gradient(
		160deg in hsl longer hue, 
		hsl(199, 35%, 85%) 0%, hsl(200, 35%, 85%) 100%
	);

	--link: hsl(var(--pop1), 30%);
	--vlink: hsl(var(--pop2), 30%);
}

:root.dark-mode {
	--text: hsl(var(--base), 85%);
	--background: hsl(var(--base), 18%);

	--link: hsl(var(--pop1), 75%);
	--vlink: hsl(var(--pop2), 75%);

	/* rainbow colors */
	--rred: hsl(0, 50%, 75%);
	--oran: hsl(30, 50%, 75%);
	--yell: hsl(60, 50%, 75%);
	--lime: hsl(90, 50%, 75%);
	--gree: hsl(120, 50%, 75%);
	--turq: hsl(150, 50%, 75%);
	--teal: hsl(180, 50%, 75%);
	--blue: hsl(210, 50%, 75%);
	--indi: hsl(240, 50%, 75%);
	--purp: hsl(270, 50%, 75%);
	--pink: hsl(300, 50%, 75%);
	--rose: hsl(330, 50%, 75%);
}
:root.high-contrast {
	--text: hsl(var(--base), 5%);
	--background: hsl(var(--base), 97.5%);
}
:root.dark-mode.high-contrast {
	--text: hsl(var(--base), 95%);
	--background: hsl(var(--base), 5%);
}

@media not (prefers-reduced-motion) {
	:root {
		scroll-behavior: smooth;
	}
}

body {
	margin: 0;
	padding: 2.2vw 3vw;
	font-family: Karla, sans-serif;
	color: var(--text);
	background: var(--background);
	min-height: 100dvh;
}

a {
	color: var(--link);
	text-underline-offset: 0.15em;
	text-decoration-thickness: 0.1em;
}
a:hover, a:active, a:focus-visible {
	text-underline-offset: 0.1em;
	text-decoration-style: wavy;
}
a:visited {color: var(--vlink)}

main > *:not(.fancy) {
	max-width: 40rem;
	margin-inline: auto;
}
main img:not(.backtotop img) {
	display:block;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 0.5rem;
}

h2 a, h2 a:visited {color: inherit}

/* ---------- rainbow headings ---------- */

.dark-mode:not(.high-contrast) :is(.rainbow > *:nth-of-type(7n + 1) > :first-child, .now_after h3:nth-of-type(7n + 1)) { color: var(--rred) }
.dark-mode:not(.high-contrast) :is(.rainbow > *:nth-of-type(7n + 2) > :first-child, .now_after h3:nth-of-type(7n + 2)) { color: var(--oran) }
.dark-mode:not(.high-contrast) :is(.rainbow > *:nth-of-type(7n + 3) > :first-child, .now_after h3:nth-of-type(7n + 3)) { color: var(--yell) }
.dark-mode:not(.high-contrast) :is(.rainbow > *:nth-of-type(7n + 4) > :first-child, .now_after h3:nth-of-type(7n + 4)) { color: var(--gree) }
.dark-mode:not(.high-contrast) :is(.rainbow > *:nth-of-type(7n + 5) > :first-child, .now_after h3:nth-of-type(7n + 5)) { color: var(--blue) }
.dark-mode:not(.high-contrast) :is(.rainbow > *:nth-of-type(7n + 6) > :first-child, .now_after h3:nth-of-type(7n + 6)) { color: var(--purp) }
.dark-mode:not(.high-contrast) :is(.rainbow > *:nth-of-type(7n + 7) > :first-child, .now_after h3:nth-of-type(7n + 7)) { color: var(--rose) }


/* ---------- header & avatar styles ---------- */

header {
	display: flex;
	gap: 0.4em;
	font-size: min(1rem + 1.2vw, 2rem);
	justify-content: space-between;
	margin-block-end: 0.5rem;
}
header a:not(:hover) {text-decoration: none}
header .main-menu {font-weight: 600}
header .sub-menu {font-weight: 300}
#avatar {
	width: clamp(3em, 10vw, 128px);
}
#avatar-big {display: none}
nav ul {
	/* outline: 1px dashed; */
	display: flex;
	flex-wrap: wrap;
	max-width: 25ch;
	column-gap: 1em;
	row-gap: 0.4em;
	margin: 0;
	list-style-type: none;
	padding-inline-start: 0;
}
:not(.dark-mode) header :is(a, a:visited) {color: inherit}

@media (max-width: 420px) {
	header {
		display: revert;
		font-size: max(1rem, 6.75vw);
	}
	nav ul {
		justify-content: center;
	}
	#avatar {display: none}
	#avatar-big {
		display: block;
		width: min(80%, 300px);
		margin: 0 auto;
	}
}

/* ---------- title styles ---------- */

.fancy {
	margin: 0 0 0.15em;
	font-family: Urbanist, sans-serif;
	font-weight: 200;
	font-size: min(20rem, 20vw);
	letter-spacing: -0.125em;
	text-align: center;
  transition: font-size 0.5s ease-in-out,  letter-spacing 0.5s ease-in-out;
}
.fancy:hover {
	letter-spacing: 0;
}
.home .fancy {font-size: min(30rem, 30vw)}
.home .fancy:hover {font-size: min(24rem, 24vw)}
.short .fancy:hover {font-size: min(16rem, 16vw)}

.dark-mode .fancy {
	background: linear-gradient(
		160deg in hsl longer hue, 
		hsl(200, 80%, 75%) 0%, hsl(199, 80%, 75%) 100%
	);
	background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (hover: none), (prefers-reduced-motion) {
	.fancy {
		letter-spacing: 0;
	}
	.home .fancy {font-size: min(24rem, 24vw)}
	.short .fancy {font-size: min(16rem, 16vw)}
}

.dark-mode:not(.high-contrast) .home h2:first-of-type {
	color: var(--pink)
}
.dark-mode:not(.high-contrast) .contact h2:first-of-type {
	color: var(--purp)
}
.dark-mode:not(.high-contrast) .contact h2:nth-of-type(2) {
	color: var(--rose)
}

/* ---------- omg.lol styles ---------- */

.statuslol_container {
	width: fit-content;
	padding: 0;
	margin: 1.5rem 0;
}
.statuslol {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: 0;
}
.statuslol{
	padding: 1rem;
	background-color: Canvas;
	border-radius: 0.5rem;
	/* border: 0.1rem solid hsla(0, 0%, 50%, 0.2); */
	box-shadow: 0.25rem 0.25rem 4rem -3rem black;
}
.statuslol_emoji {
	margin: 0 auto;
	min-width: 3.5em;
}
.statuslol p {
  margin-block: 0 0.25em;
}
.statuslol_time {
	margin-right: 2.5em;
}
.statuslol_time a:last-child::after {
	content: "on";
	position: absolute;
	width: 2.5em;
	height: 1.25em;
	margin-inline: 0.25em;
	background: right / contain no-repeat url("/images/icons/mastodon.svg");
	filter: invert(0.5);
}

.now_before {
	display: none;
}

/* ---------- blog styles ---------- */

.blog ul {
	list-style-type: none;
}
.blog h2 {
	margin-bottom: 0.5em;
}
.backtotop {
	position: sticky;
	z-index: 20;
	border: 0;
	filter: invert(0%);
	scale: 1.25;
	left: min(5vw,2rem);
	top: calc(100dvh - min(12vw,3rem));
}
.short .backtotop {
	position: fixed;
}
.dark-mode .backtotop {
	filter: invert(100%);
}
.back {
	text-align: center;
}

/* ---------- short styles ---------- */

main.short > ul {
	list-style-type: none;
	padding-inline-start: 0;
}
main.short > ul > li {
	margin-block: 2em;
}

main.contact .entry p {
	white-space: pre-line;
}


/* ---------- toggle styles ---------- */

.toggle {
	position: fixed;
	z-index: 20;
	opacity: 0.75;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	filter: invert(0%);
}
#toggleLED {
	width: calc(1.5rem + 0.75vw);
	height: calc(2rem + 1vw);
	right: min(5vw,2rem);
	bottom: min(3vw,2rem);
	background-image: url('/images/led-on.svg');
}
#toggleContrast {
	width: calc(1.5rem + 0.75vw);
	height: calc(1rem + 0.5vw);
	right: min(5vw,2rem);
	bottom: calc(min(3vw,2rem) + (3rem + 1vw));
	background-image: url('/images/contrast.svg');
}

.toggle:focus-visible {
	opacity: 1;
}

.dark-mode .toggle {
	filter: invert(100%);
}

.dark-mode #toggleLED {
	background-image: url('/images/led-off.svg');
}
.high-contrast #toggleContrast {
	rotate: 180deg;
}

@media (hover: hover) {
	.toggle {
		opacity: 0.50;
		transition: opacity 0.25s, background-image 0.5s, rotate 1s;
	}
	.toggle:hover {
		opacity: 0.75;
	}
	.dark-mode #toggleLED:hover {
		background-image: url('/images/led-on.svg');
	}
	#toggleLED:hover {
		background-image: url('/images/led-off.svg');
	}
	.high-contrast #toggleContrast:hover {
		rotate: 0deg;
	}
	#toggleContrast:hover {
		rotate: 180deg;
	}
}
