/* karla - variable */
@font-face {
	font-family: 'Karla';
	font-weight: 200 800;
	font-display: swap;
	src:
		url('/fonts/karla.woff2') format('woff2 supports variations'),
		url('/fonts/karla.woff2') format('woff2-variations');
}

:root {

	/* colours */
	
  --base: 0, 0%;
  --pop: 170, 35%;
  --2nd: 325, 35%;

	--background: hsl(var(--2nd), 50%);
	--text: hsl(var(--base), 20%);
	--links: hsl(var(--pop), 35%);
	--hover: hsl(var(--2nd), 40%);

  --header: hsl(var(--base), 100%);
  --sara: hsl(var(--base), 90%);
  --work: hsl(var(--base), 85%);
  --blog: hsl(var(--base), 80%);
  --find: hsl(var(--base), 75%);

	--b2top: hsl(var(--base), 60%);

	/* scaling */
	--tabheight: clamp(40px, 8vw, 60px);
	--border-radii: 0.4rem;
	--sml: clamp(0.8rem, 2vw, 1.0rem);
	--p: clamp(1.0rem, 2vw, 1.25rem);
	--h3: clamp(1.25rem, 4vw, 1.75rem);
	--h2: clamp(1.5rem, 5vw, 2rem);
	--h1: clamp(1.75rem, 6vw, 2.25rem);
	--icons: clamp(32px, 10vw, 64px);
	
	/* fonts */
	--normal: 300;
	--heavy: 500;
}

:root.dark-mode {

	/* colours */
	--background: hsl(var(--2nd), 35%);
	--text: hsl(var(--base), 80%);
	--links: hsl(var(--pop), 60%);
	--hover: hsl(var(--2nd), 60%);

  --header: hsl(var(--base), 0%);
  --sara: hsl(var(--base), 15%);
  --work: hsl(var(--base), 20%);
  --blog: hsl(var(--base), 25%);
  --find: hsl(var(--base), 30%);

	--b2top: hsl(var(--base), 40%);
}

* {
		box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	background-color: var(--background);
}
@media (prefers-reduced-motion) {
  html {
		scroll-behavior: auto;
  }
}
			
body {
	margin: 0 0.25rem 0;
	color: var(--text);
	background-color: var(--background);
	font-family: Karla, 'Open Sans', sans-serif;
	overscroll-behavior: none;
}

p {
	font-size: var(--p);
	line-height: 1.4em;
}
h3 {font-size: var(--h3)}
h2 {font-size: var(--h2)}
h1 {font-size: var(--h1)}

a, a:visited { 
	color: var(--links);
	font-weight: var(--heavy);
	text-decoration: underline var(--hover) 0.2ex;
	text-underline-offset: 0.25ex;
}
a:hover, a:active, a:focus, .welcome button:hover {
	color: var(--hover);
	border-bottom: 0;
	text-decoration: underline wavy var(--links) 0.2ex;
	text-underline-offset: 0.15ex;
}
:is(header, footer, .tab, .tabDummy) a {
	text-decoration: none;
	border-bottom: 0;
	font-weight: unset;
}
:focus-visible {
	outline: var(--links) solid;
	outline-offset: 0.2rem;
}
a:focus-visible {
	border-radius: var(--border-radii);
}

img:not(.social) {
	display: block;
	max-width: 100%;
	height: auto;
}

img:is(.logo, .social) {
	height: var(--icons);
	max-width: calc(1.5 * var(--icons));
}
.dark-mode :is(.social, [title="PHP"], [title="Next.js"], [title="Astro"], [title="Prisma"], [title="PowerShell"]) {
	filter: invert(80%);
}

main {
	background-color: var(--header);
}

.tab {
	position: sticky;
	top: 0.5rem;
	pointer-events: none;
}
.tab h2 {
	width: 16%;
	height: calc(var(--tabheight) - 0.25rem);
	line-height: calc(var(--tabheight) - 0.25rem);
	padding: 0 0.25em;
	margin: 0;
	font-size: clamp(0.9rem, 4.5vw, 2.5rem);
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
	pointer-events: auto;
	overflow: hidden;
}
.tab::after {
	content: "";
	display:block;
	width: calc(100% - 0.5rem);
	height: 5vmin;
	margin: -0.1rem auto -0.1rem;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
}

main > section {
	position: sticky;
	min-height: calc(100vh - 5vmin - var(--tabheight));
	margin: 0 0.25rem;
	padding: 0.25rem 5vmin calc(2 * var(--tabheight));
	scroll-margin-top: calc(var(--tabheight) + 5vmin);
}

main > section:not(#work) {
	display: grid;
	place-content: center;
}

main > section:not(#work) > article {
	overflow: visible;
	margin: 0 auto;
	max-width: 900px;
}

section > article ul {
	list-style-type: none;
	margin-block: 0;
	padding-inline-start: 0;
}

.anchor {
	height: 0px;
	position: relative;
	top: -0.5rem;
}
/* #gosara {
	top: calc(100vh - var(--tabheight) - 0.5rem);
} */


#toggleBtn {
	position: fixed;
	right: min(5vw,3rem);
	bottom: min(3vw,2rem);
	z-index: 20;
	width: calc(1.5rem + 0.75vw);
	height: calc(2rem + 1vw);
	opacity: 0.75;
	border: 0;
	background-color: transparent;
	background-image: url('/images/led-on.svg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
}

#toggleBtn:focus-visible {
	opacity: 1;
}

.dark-mode #toggleBtn {
	background-color: var(--info);
	background-image: url('/images/led-off.svg');
	filter: invert(100%);
}

@media (hover: hover) {
	#toggleBtn {
		opacity: 0.50;
		transition: opacity 0.25s, background-image 0.5s;
	}
	#toggleBtn:hover {
		opacity: 0.75;
		background-image: url('/images/led-off.svg');
	}
	.dark-mode #toggleBtn:hover {
		background-image: url('/images/led-on.svg');
	}
}


.backtotop {
	display: grid;
	place-content: center;
	place-items: center;
	position: absolute;
	height: 2rem;
	width: 2rem;
	padding-bottom: 0.2rem;
	bottom: 2rem;
	left: calc(50% - 1rem);
	border-radius: 50%;
	background-color: var(--b2top);
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px black;
}

.backtotop:hover {
	background-color: var(--background);
	transform: translate(1px, 1px);
	box-shadow: 2px 2px 10px -9px black;
}



#hero {
	display: grid;
	place-content: center;
	place-items: center;
	z-index: 0;
	top: var(--tabheight);
	height: calc(100vh - var(--tabheight));
	background-color: var(--header);
	margin: 0 auto;
	padding-bottom: 0;
	font-size: 2.25vh;
	overflow: hidden;
}
#hero article {
	position: relative;
	top: calc(0.25 * var(--tabheight));
}
#hero p {
	font-size: 0.8rem;
	margin-block: 1rem;
	text-align: center;
}
#hero div, #hero div::before, #hero div::after {
	outline: 0 solid var(--background);
  transition: scale ease 0.25s, outline ease 0.5s;
}
#hero div:hover {
	scale: 1.05;
}
#hero div:hover, #hero div:hover::before, #hero div:hover::after {
	outline: 0.2em solid var(--background);
}

.sara {
	z-index: 11;
}
.sara h2 {
	margin-inline: auto 42%;
	background-color: var(--sara);
}
.sara::after {
	background-color: var(--sara);
}
#sara {
	z-index: 1;
	background-color: var(--sara);
}

:is(#sara, #find) h3:first-child {
	margin-top: 0;
}

.welcome {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
@media (max-width: 600px) {
	.welcome {
		flex-direction: column;
	}
}
.welcome .blurb {
	flex: 3;
}
.welcome img {
	max-height: 16rem;
	aspect-ratio: 1;
	margin: 0 auto;
	border-radius: 50%;
	filter: brightness(1.2) drop-shadow(0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25));
}
.dark-mode .welcome img {
	filter: brightness(0.8) drop-shadow(0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5));
}
.signoff {
	text-align: right;
}
.stack {
	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--icons), 1fr)); */
	margin-inline: auto;
	padding-inline: 3vmin;
	gap: 2vmin;
	place-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	filter: drop-shadow(0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.25));
}
.dark-mode .stack {
	filter: drop-shadow(0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.5));
}

.work {
	z-index: 12;
}
.work h2 {
	margin-inline: auto 28%;
	background-color: var(--work);
}
.work::after {
	background-color: var(--work);
	height: 5.1vmin;
}
#work {
	z-index: 2;
	background-color: var(--work);
}

#work article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: calc(0.25rem + 0.5vmin);
}

.box1 {
	grid-template-areas:
		"bigrow bigrow bigrow"
		"bigsq bigsq smsq1"
		"bigsq bigsq smsq2";
}

.box2 {
	grid-template-areas:
		"smsq1 bigsq bigsq"
		"smsq2 bigsq bigsq"
		"bigrow bigrow bigrow";
}

.box3 {
	grid-template-areas:
		"bigsq bigsq smsq1"
		"bigsq bigsq shcol"
		"shrow shrow shcol";
}

.box4 {
	grid-template-areas:
		"shcol shrow shrow"
		"shcol bigsq bigsq"
		"smsq1 bigsq bigsq";
}

.bigsq {
	grid-area: bigsq;
	background-color: rgba(100, 100, 150, 0.25);
}
.bigrow {
	grid-area: bigrow;
	background-color: rgba(150, 100, 100, 0.25);
}
.shcol {
	grid-area: shcol;
	background-color: rgba(100, 150, 100, 0.25);
}
.shrow {
	grid-area: shrow;
	background-color: rgba(150, 150, 100, 0.25);
}
.smsq1 {
	grid-area: smsq1;
	background-color: rgba(100, 150, 150, 0.25);
}
.smsq2 {
	grid-area: smsq2;
	background-color: rgba(150, 100, 150, 0.25);
}

.container {
	width: calc(50% - (0.25rem + 0.5vmin) / 2);
	max-width: max(800px, 100%/3);
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: calc(0.25rem + 0.5vmin);
}
@media only screen and (max-aspect-ratio: 4/5) {
	#work .container {
		width: 100%;
	}
}

.container > :is(div, button) {
	container-type: inline-size;
	border-radius: var(--border-radii);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px black;
	border: 0;
}

.container > :is(button:hover, button:focus-visible, div:hover, div:focus-visible) {
	background-color: var(--background);
	background-repeat: no-repeat;
	background-size: 0;
	transform: translate(1px, 1px);
	box-shadow: 2px 2px 10px -9px black;
}
.container h3 {
	visibility: hidden;
	display: grid;
	place-content: center;
	height: 100%;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: clamp(1rem, calc(1rem + 10cqi), 2rem);
}
.container button:hover .caption,
.container button:focus-visible .caption {
	visibility: visible;
}

dialog[open] {
	color: var(--text);
	background-color: var(--header);
	overscroll-behavior: contain;
	border: 0.25rem solid var(--header);
	border-radius: var(--border-radii);
	padding: 0;
	overflow: hidden;
}
dialog > div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	max-height: calc((100vh - 6px) - 3em);
	overflow: auto;
}
dialog img {
	border-radius: calc(var(--border-radii) / 2);
}
dialog p {
	max-width: 80ch;
	margin-inline: auto;
}
dialog p:last-child {
	margin-bottom: 0;
}
dialog::backdrop {
	background-color: rgba(128,128,128,0.25);
	-webkit-backdrop-filter: blur(0.25rem);
					backdrop-filter: blur(0.25rem);
}
dialog button:not(.inline) {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: calc(1.5rem + 1vw);
	aspect-ratio: 1;
	padding: 0;
	line-height: calc(1.5rem + 1vw);
	font-size: calc(1.5rem + 1vw);
	color: var(--header);
	background-color: var(--links);
	border-radius: 50%;
	border: 0;
}
dialog button:not(.inline):hover {
	background-color: var(--background);
}
dialog > div::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}
dialog > div::-webkit-scrollbar-track {
	background: transparent;
	width: 1rem;
}
dialog > div::-webkit-scrollbar-thumb {
	background: var(--find);
	border-radius: var(--border-radii);
}
dialog > div::-webkit-scrollbar-thumb:hover {
	background: var(--b2top);
}
dialog > div::-webkit-scrollbar-corner {
	background: transparent;
}

pre.ascii-art {
	font-size: clamp(0.5rem, 1.75vw, 1.5rem);
	line-height: 1em;
}



.blog {
	z-index: 13;
}
.blog h2 {
	margin-inline: auto 14%;
	background-color: var(--blog);
}
.blog::after {
	background-color: var(--blog);
	height: 5.2vmin;
}
#blog {
	z-index: 3;
	background-color: var(--blog);
}
#blog ul {
	display: grid;
	gap: 5vmin;
}
#blog li {
	display: flex;
	overflow: hidden;
	border-radius: var(--border-radii);
	background-color: hsla(var(--pop), 50%, 25%);
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px black;
}
#blog li:hover {
	background-color: hsla(var(--2nd), 50%, 25%);
	transform: translate(1px, 1px);
	box-shadow: 2px 2px 10px -9px black;
}
#blog li > a {
	flex: none;
}
#blog img {
	display: block;
	width: 15rem;
	height: 15rem;
	object-fit: cover;
}
#blog li div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem 2rem;
}
#blog h3 {
	font-size: var(--h3);
	margin: 0;
}

.tab.find {
	z-index: 14;
}
.tab.find h2 {
	margin-inline: auto 0.25rem;
	background-color: var(--find);
}
.tab.find::after {
	background-color: var(--find);
	border-top-right-radius: 0;
	height: 5.3vmin;
}
#find {
	z-index: 4;
	background-color: var(--find);
}
#find ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5vmin;
	padding-block: 5vmin;
}
#find li {
	text-align: center;
}
#find li a {
	font-size: var(--sml);
}
img.social {
	transition: opacity 0.2s ease, transform 0.2s ease;
	filter: drop-shadow(0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.25));
	opacity: 0.8;
}
img.social:is(:hover,:active,:focus-visible) {
	transform: translate(1px, 1px);
	filter: drop-shadow(0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.25));
	opacity: 0.6;
}
.dark-mode img.social:is(:hover,:active,:focus-visible) {
	filter: invert(80%)
}

form {
	width: min-content;
	margin: 0 auto;
}
input,
textarea {
	border: 1px solid var(--links);
	background-color: var(--work);
	border-radius: calc(var(--border-radii) / 2);
	width: clamp(28ch, 60vw, 30rem);
	padding: 0.25rem 0.5rem;
}
textarea {
	height: 9.5rem;
	resize: vertical;
}
form button {
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	border-radius: calc(var(--border-radii) / 2);
	color: var(--header);
	background-color: var(--links);
	margin: 0 auto;
}
form button:hover,
form button:focus,
form button:active {
	background-color: var(--hover);
}


@supports(height: 100dvh) {
	#find {
		min-height: calc(100dvh - 5vmin - var(--tabheight));
	}
}


@media only screen and (max-width: 700px) {
	#blog li {
		flex-direction: column;
	}
	#blog img {
		width: 100%;
		max-width: 100%;
		height: 50vw;
	}
}


@media only screen and (min-width: 2200px) {
	#blog ul {
		grid-template-columns: 1fr 1fr;
	}
	
	main > section#blog > article {
		max-width: 1800px;
	}
}