/* karla - variable */
@font-face {
	font-family: 'Karla';
	font-weight: 200 800;
	font-display: swap;
	src:
		url('/fonts/karla.woff2') format('woff2 supports variations'),
		url('/fonts/karla.woff2') format('woff2-variations');
}

:root, ::backdrop {

	/* colours */
	
  --base: 0, 0%;
  --pop: 170, 35%;
  --2nd: 325, 35%;

	--background: hsl(var(--2nd), 50%);
	--text: hsl(var(--base), 20%);
	--links: hsl(var(--pop), 35%);
	--hover: hsl(var(--2nd), 40%);
	--shadow: hsla(var(--base), 0%, 0.25);

  --header: hsl(var(--base), 100%);
  --sara: hsl(var(--base), 90%);
  --stuff: hsl(var(--base), 85%);
  --blog: hsl(var(--base), 80%);
  --find: hsl(var(--base), 75%);

	--b2top: hsl(var(--base), 60%);

	/* scaling */
	--tabheight: clamp(40px, 8vw, 60px);
	--border-radii: 0.4rem;
	--sml: clamp(0.8rem, 2vw, 1.0rem);
	--p: clamp(1.0rem, 2vw, 1.25rem);
	--h4: clamp(1.25rem, 3vw, 1.5rem);
	--h3: clamp(1.5rem, 4vw, 1.75rem);
	--h2: clamp(1.75rem, 5vw, 2rem);
	--h1: clamp(2rem, 6vw, 2.5rem);
	--icons: clamp(32px, 10vw, 64px);
	
	/* fonts */
	--normal: 300;
	--heavy: 500;
}

:root.dark-mode {

	/* colours */
	--background: hsl(var(--2nd), 35%);
	--text: hsl(var(--base), 80%);
	--links: hsl(var(--pop), 60%);
	--hover: hsl(var(--2nd), 60%);
	--shadow: hsla(var(--base), 0%, 0.5);

  --header: hsl(var(--base), 0%);
  --sara: hsl(var(--base), 15%);
  --stuff: hsl(var(--base), 20%);
  --blog: hsl(var(--base), 25%);
  --find: hsl(var(--base), 30%);

	--b2top: hsl(var(--base), 40%);
}

:root.high-contrast {

  --header: Canvas;
  --sara: Canvas;
  --stuff: Canvas;
  --blog: Canvas;
  --find: Canvas;

	--text: CanvasText;
	--border: 0.2rem solid CanvasText;
}

* {
		box-sizing: border-box;
}

.high-contrast :is(main > section, main .post, .shortIndex, .blogPost) {
	border-inline: var(--border);
}
.high-contrast .tab h2, 
.high-contrast .tab::after, 
.high-contrast header > div {
	border-top: var(--border);
	border-inline: var(--border);
}
.high-contrast .tab::after {
	width: calc(100% - 0.9rem);
}
.high-contrast :is(.blogPost, .shortIndex) .tab {
	width: calc(100% - 0.8rem);
}
.high-contrast :is(.blogPost, .shortIndex) .tab::after {
	width: calc(100% - 0.55rem);
}
.high-contrast :is(.blogPost, .shortIndex) .post {
	margin: 0 0.1rem;
}
.high-contrast .tab.find::after {
	border-top-right-radius: var(--border-radii);
}
.high-contrast :is(.statuslol, .container :is(button, div), li.posts, input, textarea, .post .short, .tweet) {
	border: var(--border);
}

html {
	scroll-behavior: smooth;
	background-color: var(--background);
}
@media (prefers-reduced-motion) {
  html {
		scroll-behavior: auto;
  }
}
			
body {
	margin: 0 0.25rem 0;
	color: var(--text);
	background-color: var(--background);
	font-family: Karla, 'Open Sans', sans-serif;
	overscroll-behavior: none;
}

p {
	font-size: var(--p);
	line-height: 1.4em;
}
h4 {font-size: var(--h4)}
h3 {font-size: var(--h3)}
h2 {font-size: var(--h2)}
h1 {font-size: var(--h1)}

a, a:visited { 
	color: var(--links);
	font-weight: var(--heavy);
	text-decoration-line: underline;
	text-decoration-color: var(--hover);
	text-decoration-thickness: 0.2ex;
	text-underline-offset: 0.25ex;
}
a:hover, a:active, a:focus {
	color: var(--hover);
	border-bottom: 0;
	text-decoration-color: var(--links);
	text-decoration-style: wavy;
	text-underline-offset: 0.15ex;
}
:is(header, footer, .tab, .tabDummy) a {
	text-decoration: none;
	border-bottom: 0;
	font-weight: unset;
}
:focus-visible {
	outline: var(--links) solid;
	outline-offset: 0.2rem;
}
a:focus-visible {
	border-radius: var(--border-radii);
}

img:not(.social,.logo) {
	display: block;
	max-width: 100%;
	height: auto;
}

img:is(.logo, .social) {
	height: var(--icons);
	max-width: calc(1.5 * var(--icons));
	filter: invert(0%) drop-shadow(0.1rem 0.1rem 0.25rem var(--shadow));
}
.dark-mode :is(.social, [title="PHP"], [title="Next.js"], [alt="RSS"],
[title="Astro"], [title="Prisma"], [title="PowerShell"]) {
	filter: invert(80%) drop-shadow(0.1rem 0.1rem 0.25rem var(--shadow));
}

main {
	background-color: var(--header);
}

.tab {
	position: sticky;
	top: 0.5rem;
	pointer-events: none;
}
.tab h2 {
	width: 16%;
	height: calc(var(--tabheight) - 0.25rem);
	line-height: calc(var(--tabheight) - 0.25rem);
	padding: 0 0.25em;
	margin: 0;
	font-size: clamp(0.9rem, 4.5vw, 2.5rem);
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
	pointer-events: auto;
	overflow: hidden;
}
.tab::after {
	content: "";
	display:block;
	width: calc(100% - 0.5rem);
	height: 5vmin;
	margin: -0.1rem auto -0.1rem;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
}

main, .post {
	min-height: calc( 100vh - var(--tabheight));
}

main > section {
	position: sticky;
	min-height: calc(100vh - 5vmin - var(--tabheight));
	margin: 0 0.25rem calc(-1 * var(--tabheight));
	padding: 0.25rem 5vmin calc(3 * var(--tabheight));
	scroll-margin-top: calc(var(--tabheight) + 5vmin);
}

main > section:not(#stuff) {
	display: grid;
	place-content: center;
}

main > section:not(#stuff) > article {
	overflow: visible;
	margin: 0 auto;
	max-width: 900px;
}

section > article ul {
	list-style-type: none;
	margin-block: 0;
	padding-inline-start: 0;
}

.anchor {
	height: 0px;
	position: relative;
	top: -0.5rem;
}
/* #gosara {
	top: calc(100vh - var(--tabheight) - 0.5rem);
} */


.toggle {
	position: fixed;
	z-index: 20;
	opacity: 0.75;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	filter: invert(0%) drop-shadow(0 0 0.1rem var(--header));
}
#toggleLED {
	width: calc(1.5rem + 0.75vw);
	height: calc(2rem + 1vw);
	right: min(5vw,2rem);
	bottom: min(3vw,2rem);
	background-image: url('/images/led-on.svg');
}
#toggleContrast {
	width: calc(1.5rem + 0.75vw);
	height: calc(1rem + 0.5vw);
	right: min(5vw,2rem);
	bottom: calc(min(3vw,2rem) + (3rem + 1vw));
	background-image: url('/images/contrast.svg');
}

.toggle:focus-visible {
	opacity: 1;
}

.dark-mode .toggle {
	background-color: var(--info);
	filter: invert(100%);
}

.dark-mode #toggleLED {
	background-image: url('/images/led-off.svg');
}
.high-contrast #toggleContrast {
	rotate: 180deg;
}

@media (hover: hover) {
	.toggle {
		opacity: 0.50;
		transition: opacity 0.25s, background-image 0.5s, rotate 1s;
	}
	.toggle:hover {
		opacity: 0.75;
	}
	.dark-mode #toggleLED:hover {
		background-image: url('/images/led-on.svg');
	}
	#toggleLED:hover {
		background-image: url('/images/led-off.svg');
	}
	.high-contrast #toggleContrast:hover {
		rotate: 0deg;
	}
	#toggleContrast:hover {
		rotate: 180deg;
	}
}


.backtotop {
	display: grid;
	place-content: center;
	place-items: center;
	position: absolute;
	height: 2rem;
	width: 2rem;
	padding-bottom: 0.2rem;
	bottom: 2rem;
	left: calc(50% - 1rem);
	border-radius: 50%;
	background-color: var(--b2top);
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px black;
}

.backtotop:hover {
	background-color: var(--background);
	transform: translate(1px, 1px);
	box-shadow: 2px 2px 10px -9px black;
}



#hero {
	display: grid;
	place-content: center;
	place-items: center;
	z-index: 0;
	top: var(--tabheight);
	height: calc(100vh - var(--tabheight));
	background-color: var(--header);
	margin: 0 auto;
	padding-bottom: 0;
	font-size: 2.25vh;
	overflow: hidden;
}
#hero article {
	position: relative;
	top: calc(0.25 * var(--tabheight));
}
#hero p {
	font-size: 0.8rem;
	margin-block: 1rem;
	text-align: center;
}
#hero div, #hero div::before, #hero div::after {
	outline: 0 solid var(--background);
  transition: scale ease 0.25s, outline ease 0.5s;
}
#hero div:hover {
	scale: 1.05;
}
#hero div:hover, #hero div:hover::before, #hero div:hover::after {
	outline: 0.2em solid var(--background);
}

.sara {
	z-index: 11;
}
.sara h2 {
	margin-inline: auto 42%;
	background-color: var(--sara);
}
.sara::after {
	background-color: var(--sara);
}
#sara {
	z-index: 1;
	background-color: var(--sara);
}

:is(#sara, #find) h3:first-child {
	margin-top: 0;
}

.welcome {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
.welcome .blurb {
	flex: 3;
}
.welcome > img {
	max-width: 80%;
	max-height: 16rem;
	aspect-ratio: 1;
	margin: 0 auto;
	border-radius: 50%;
	filter: brightness(1.2) drop-shadow(0.1rem 0.1rem 0.5rem var(--shadow));
}
.dark-mode .welcome > img {
	filter: brightness(0.8) drop-shadow(0.1rem 0.1rem 0.5rem var(--shadow));
}

.statuslol_container {
  width: fit-content;
  padding: 0;
  margin: 1.5rem 0;
}
.statuslol {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  margin: 0;
  background-color: var(--header);
  border-radius: var(--border-radii);
	box-shadow: 0.1rem 0.1rem 0.5rem -0.25rem var(--shadow);
}
.statuslol p {
  margin-block: 0 0.25em;
}
.statuslol img {
  width: 3rem;
}
.statuslol_time {
  font-size: var(--sml);
}
#nowPage {
  margin: 2vmin auto 8vmin;
}
@media (max-width: 600px) {
	.welcome {
		flex-direction: column;
	}
  .statuslol_container {
    margin: 1.5rem auto;
  }
}

#sara h3:nth-of-type(2) {
	margin-bottom: 0;
}
.stack {
	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--icons), 1fr)); */
	margin-inline: auto;
	padding-inline: 3vmin;
	gap: 2vmin;
	place-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.stuff {
	z-index: 12;
}
.stuff h2 {
	margin-inline: auto 28%;
	background-color: var(--stuff);
}
.stuff::after {
	background-color: var(--stuff);
	height: 5.1vmin;
}
#stuff {
	z-index: 2;
	background-color: var(--stuff);
}

#stuff article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: calc(0.25rem + 0.5vmin);
}

.box1 {
	grid-template-areas:
		"bigrow bigrow bigrow"
		"bigsq bigsq shcol"
		"bigsq bigsq shcol";
}

.box2 {
	grid-template-areas:
		"smsq1 bigsq bigsq"
		"smsq2 bigsq bigsq"
		"bigrow bigrow bigrow";
}

.box3 {
	grid-template-areas:
		"bigsq bigsq smsq1"
		"bigsq bigsq smsq2"
		"shrow shrow smsq3";
}

.box4 {
	grid-template-areas:
		"shcol shrow shrow"
		"shcol bigsq bigsq"
		"smsq1 bigsq bigsq";
}

.bigsq { grid-area: bigsq }
.bigrow { grid-area: bigrow }
.shcol { grid-area: shcol }
.shrow { grid-area: shrow }
.smsq1 {
	grid-area: smsq1;
	background-color: rgba(100, 150, 150, 0.25);
}
.smsq2 {
	grid-area: smsq2;
	background-color: rgba(150, 100, 150, 0.25);
}
.smsq3 {
	grid-area: smsq3;
	background-color: rgba(100, 150, 150, 0.25);
}

.container {
	width: calc(50% - (0.25rem + 0.5vmin) / 2);
	max-width: max(800px, 100%/3);
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: calc(0.25rem + 0.5vmin);
}
@media only screen and (max-aspect-ratio: 4/5) {
	#stuff .container {
		width: 100%;
	}
}

.container > :is(div, button) {
	container-type: inline-size;
	border-radius: var(--border-radii);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px black;
	border: 0;
}

.container > :is(button:hover, button:focus-visible, div:hover, div:focus-visible) {
	background-color: var(--background);
	background-repeat: no-repeat;
	background-size: 0;
	transform: translate(1px, 1px);
	box-shadow: 2px 2px 10px -9px black;
}
.container .caption {
  height: 0px; 
  width: 1px;
  overflow: hidden;
	display: grid;
	place-content: center;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: clamp(1rem, calc(1rem + 10cqi), 2rem);
}
.container button:hover .caption,
.container button:focus-visible .caption {
	visibility: visible;
	height: 100%;
  width: auto;
  overflow: auto;
}

dialog[open] {
	color: var(--text);
	background-color: var(--header);
	overscroll-behavior: contain;
	border: 0.25rem solid var(--header);
	border-radius: var(--border-radii);
	padding: 0;
	overflow: hidden;
}
dialog > div {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	max-height: calc((100vh - 6px) - 3em);
	overflow: auto;
}
dialog img {
	border-radius: calc(var(--border-radii) / 2);
}
dialog p {
	max-width: 80ch;
	margin-inline: auto;
}
dialog p:last-child {
	margin-bottom: 0;
}
dialog::backdrop {
	background-color: hsla(var(--base), 50%, 0.35);
	-webkit-backdrop-filter: blur(0.25rem);
					backdrop-filter: blur(0.25rem);
}
dialog button:not(.inline) {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: calc(1.5rem + 1vw);
	aspect-ratio: 1;
	padding: 0;
	line-height: calc(1.5rem + 1vw);
	font-size: calc(1.5rem + 1vw);
	color: var(--header);
	background-color: var(--links);
	border-radius: 50%;
	border: 0;
}
dialog button:not(.inline):hover {
	background-color: var(--background);
}
dialog > div::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}
dialog > div::-webkit-scrollbar-track {
	background: transparent;
	width: 1rem;
}
dialog > div::-webkit-scrollbar-thumb {
	background: var(--find);
	border-radius: var(--border-radii);
}
dialog > div::-webkit-scrollbar-thumb:hover {
	background: var(--b2top);
}
dialog > div::-webkit-scrollbar-corner {
	background: transparent;
}

pre.ascii-art {
	font-size: clamp(0.5rem, 1.75vw, 1.5rem);
	line-height: 1em;
}



.blog {
	z-index: 13;
}
.blog h2 {
	margin-inline: auto 14%;
	background-color: var(--blog);
}
.blog::after {
	background-color: var(--blog);
	height: 5.2vmin;
}
#blog {
	z-index: 3;
	background-color: var(--blog);
}
#blog article > ul {
	display: grid;
	gap: 5vmin;
}
.posts {
	display: flex;
	overflow: hidden;
	border-radius: var(--border-radii);
	background-color: hsla(var(--pop), 50%, 25%);
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px black;
}
.posts:hover {
	background-color: hsla(var(--2nd), 50%, 25%);
	transform: translate(1px, 1px);
	box-shadow: 2px 2px 10px -9px black;
}
.posts > a {
	flex: none;
}
.posts img {
	display: block;
	width: 15rem;
	height: 15rem;
	object-fit: cover;
}
.posts div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem 2rem;
}
.posts h3 {
	font-size: var(--h3);
	margin: 0;
}
.posts time {
	text-align: right;
}
.posts:nth-child(n+5) img {
	width: 10rem;
	height: 10rem;
}
.posts:nth-child(n+5) p {
	margin-block: 0.5em;
}
.posts:nth-child(n+5) div {
	padding: 1rem 2rem;
}
.posts:nth-child(n+5) h3 {
	font-size: var(--h4);
}
#feeds {
	width: max-content;
	margin: 5vmin auto;
	text-align: center;
}

.tab.find {
	z-index: 14;
}
.tab.find h2 {
	margin-inline: auto 0.25rem;
	background-color: var(--find);
}
.tab.find::after {
	background-color: var(--find);
	border-top-right-radius: 0;
	height: 5.3vmin;
}
#find {
	z-index: 4;
	background-color: var(--find);
}
#find ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5vmin;
	padding-block: 5vmin;
}
#find li {
	text-align: center;
}
#find li a {
	font-size: var(--sml);
}
img.social {
	transition: opacity 0.2s ease, transform 0.2s ease;
	opacity: 0.8;
}
img.social:is(:hover,:active,:focus-visible) {
	transform: translate(1px, 1px);
	opacity: 0.6;
}

form {
	width: min-content;
	margin: 0 auto 8vmin;
}
input,
textarea {
	border: 1px solid var(--links);
	background-color: var(--stuff);
	border-radius: calc(var(--border-radii) / 2);
	width: clamp(28ch, 60vw, 30rem);
	padding: 0.25rem 0.5rem;
}
textarea {
	height: 9.5rem;
	resize: vertical;
}
form button {
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	border-radius: calc(var(--border-radii) / 2);
	color: var(--header);
	background-color: var(--links);
	margin: 0 auto;
}
form button:hover,
form button:focus,
form button:active {
	background-color: var(--hover);
}

.links-out {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	font-size: clamp(0.9rem, 5vw, 1.5rem);
}

#indieWeb a:nth-child(odd) {
	text-decoration: none;
}


@supports(height: 100dvh) {
	#find {
		min-height: calc(100dvh - 5vmin - var(--tabheight));
	}
}


@media only screen and (max-width: 720px) {
	.posts {
		flex-direction: column;
	}
	.posts img {
		width: 100%;
		max-width: 100%;
		height: 50vw;
	}
	.posts:nth-child(n+5) img {
		object-position: 0 25%;
		width: 100%;
		max-width: 100%;
		height: 25vw;
	}
	.posts:nth-child(n+5) p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
}


@media only screen and (min-width: 2200px) {
	#blog ul {
		grid-template-columns: 1fr 1fr;
	}
	
	main > section#blog > article {
		max-width: 1800px;
	}
}


/* ---------------------- blog posts ------------------------ */
.post {
	background-color: var(--blog);
	margin: 0 0.25rem;
}
.post img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border-radius: var(--border-radii);
	box-shadow: 1px 1px 15px -12px black;
}
.post p>img {
	margin-top: 0.5rem;
}
.post .caption {
	text-align: center;
	font-size: var(--sml);
	font-style: italic;
}
.post li {
	font-size: var(--p);
	line-height: var(--h3);
}
.post h2 {
	color: var(--links);
}
.post h3, .post h4, .post h1 {
	color: var(--hover);
}
.post :is(.short, .tweet, pre) {
	padding: 3vmin;
	border-radius: var(--border-radii);
	box-shadow: 1px 1px 15px -12px black;
}
.post .short, .post .tweet {
	background-color: var(--sara);
	margin: 5vmin 0;
}
:is(.tweet, .short) > *:first-child {margin-top: 0}
:is(.tweet, .short > div) > *:last-child {margin-bottom: 0}

.post a.back {
	display: block;
	width: fit-content;
	margin: 3em auto 0;
	font-weight: bold;
}
