/* karla - variable */
@font-face {
	font-family: 'Karla';
	font-weight: 200 800;
	font-display: swap;
	src:
		url('/fonts/karla.woff2') format('woff2 supports variations'),
		url('/fonts/karla.woff2') format('woff2-variations');
}

:root {

	/* colours */
	
  --base: 0, 0%;
  --pop: 170, 35%;
  --2nd: 325, 35%;

	--background: hsl(var(--2nd), 50%);
	--text: hsl(var(--base), 20%);
	--links: hsl(var(--pop), 35%);
	--hover: hsl(var(--2nd), 40%);
	--linkshadow: 0 -0.5em inset hsla(var(--2nd), 35%, 30%);
	--linkshadowhover: 0 -0.5em inset hsla(var(--pop), 35%, 40%);

  --header: hsl(var(--base), 100%);
  --sara: hsl(var(--base), 90%);
  --work: hsl(var(--base), 85%);
  --blog: hsl(var(--base), 80%);
  --find: hsl(var(--base), 75%);

	--b2top: hsl(var(--base), 60%);

	/* scaling */
	--tabheight: clamp(40px, 8vw, 60px);
	--border-radii: 0.4rem;
	
	/* fonts */
	--normal: 300;
	--heavy: 500;
}

:root.dark-mode {

	/* colours */
	--background: hsl(var(--2nd), 35%);
	--text: hsl(var(--base), 80%);
	--links: hsl(var(--pop), 60%);
	--hover: hsl(var(--2nd), 60%);
	--linkshadow: 0 -0.5em inset hsla(var(--2nd), 35%, 50%);
	--linkshadowhover: 0 -0.5em inset hsla(var(--pop), 35%, 50%);

  --header: hsl(var(--base), 0%);
  --sara: hsl(var(--base), 15%);
  --work: hsl(var(--base), 20%);
  --blog: hsl(var(--base), 25%);
  --find: hsl(var(--base), 30%);

	--b2top: hsl(var(--base), 40%);
}

* {
		box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	background-color: var(--background);
}
@media (prefers-reduced-motion) {
  html {
		scroll-behavior: auto;
  }
}
			
body {
	margin: 0 0.25rem 0;
	color: var(--text);
	background-color: var(--background);
	font-family: Karla, 'Open Sans', sans-serif;
}

p, .welcome button {
	font-size: clamp(0.9rem, 3vw, 1.1rem);
}

a, a:visited, .welcome button { 
	color: var(--links);
	font-weight: var(--heavy);
	/* border-bottom: 2px solid var(--hover); */
	text-decoration: none;
	text-decoration: underline var(--hover) 2px;
}
a:hover, a:active, a:focus, .welcome button:hover {
	color: var(--hover);
	border-bottom: 0;
	text-decoration: underline wavy var(--links);
}
:is(header, footer, .tab) a {
	text-decoration: none;
	border-bottom: 0;
	font-weight: unset;
}

img {max-width: 100%;}

.tab {
	position: sticky;
	top: 0.5rem;
	pointer-events: none;
	margin-top: calc(-1 * var(--tabheight));
}
.tab h2 {
	width: 16%;
	height: calc(var(--tabheight) - 0.25rem);
	line-height: calc(var(--tabheight) - 0.25rem);
	padding: 0 0.25em;
	margin: 0;
	font-size: clamp(0.9rem, 4.5vw, 2.5rem);
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
	pointer-events: auto;
	overflow: hidden;
}
.tab::after {
	content: "";
	display:block;
	width: calc(100% - 0.5rem);
	height: 5vmin;
	margin: -0.1rem auto -0.1rem;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
}

main {
	background-color: var(--header);
}

main > section {
	position: sticky;
	min-height: calc(100vh - 5vmin - var(--tabheight));
	margin: 0 0.25rem;
	padding: 0 5vmin calc(1.5 * var(--tabheight));
	scroll-margin-top: calc(var(--tabheight) + 5vmin);
}

main > section > article {
	overflow: visible;
	margin: 0 auto;
	padding: 0.5em 0;
}

section > article ul {
	list-style-type: none;
	margin-block: 0;
	padding-inline-start: 0;
}


#toggleBtn {
	position: fixed;
	right: min(5vw,3rem);
	bottom: min(3vw,2rem);
	z-index: 20;
	width: calc(1.5rem + 0.75vw);
	height: calc(2rem + 1vw);
	opacity: 0.75;
	border: 0;
	background-color: transparent;
	background-image: url('/images/led-on.svg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
}

#toggleBtn:focus-visible {
	opacity: 1;
}

.dark-mode #toggleBtn {
	background-color: var(--info);
	background-image: url('/images/led-off.svg');
	filter: invert(100%);
}

@media (hover: hover) {
	#toggleBtn {
		opacity: 0.50;
		transition: opacity 0.25s, background-image 0.5s;
	}
	#toggleBtn:hover {
		opacity: 0.75;
		background-image: url('images/led-off.svg');
	}
	.dark-mode #toggleBtn:hover {
		background-image: url('images/led-on.svg');
	}
}


.backtotop {
	position: absolute;
	height: 2rem;
	width: 2rem;
	bottom: 2rem;
	left: calc(50% - 1rem);
	text-align: center;
	font-size: 1.5rem;
	font-weight: var(--normal);
	line-height: 1.75rem;
	border-radius: 50%;
	background-color: var(--b2top);
}

.backtotop:hover {
	background-color: var(--background);
}



#hero {
	z-index: 0;
	top: var(--tabheight);
	height: 100vh;
	background-color: var(--header);
	margin: 0 auto;
	padding-bottom: var(--tabheight);
	font-size: 2.4vmin;
}
#hero p {
	font-size: 0.8rem;
	margin-block: 1rem;
	text-align: center;
}
#hero div:hover {
	scale: 1.05;
}
#hero div:hover, #hero div:hover::before, #hero div:hover::after {
  box-shadow: 0 0 1em -0.25em var(--hover);
}
#hero div {
  transition: scale ease 0.25s, box-shadow ease 0.25s;
}

.sara {
	z-index: 11;
}
.sara h2 {
	margin-inline: auto 42%;
	background-color: var(--sara);
}
.sara::after {
	background-color: var(--sara);
}
#sara {
	z-index: 1;
	top: calc(var(--tabheight) + 5vmin);
	background-color: var(--sara);
}
#gosara {
	height: 2px;
	position: absolute;
	top: calc(100vh - var(--tabheight) - 0.5rem);
}

#sara h3, #find h3 {
	margin-top: 0;
}

.welcome {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
@media (max-width: 600px) {
	.welcome {
		flex-direction: column;
	}
}
.welcome .blurb {
	flex: 3;
}
.welcome img {
	max-height: 20rem;
	margin: 0 auto;
	border-radius: 50%;
}
.welcome button {
	border: 0;
	padding: 0;
	background-color: transparent;
	font-family: Karla, 'Open Sans', sans-serif;
}
.signoff {
	text-align: right;
}

.work {
	z-index: 12;
}
.work h2 {
	margin-inline: auto 28%;
	background-color: var(--work);
}
.work::after {
	background-color: var(--work);
	height: 5.1vmin;
}
#work {
	z-index: 2;
	background-color: var(--work);
}

#work article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: calc(0.25rem + 0.5vmin);
}

.box1 {
	grid-template-areas:
		"bigrow bigrow bigrow"
		"bigsq bigsq smsq1"
		"bigsq bigsq smsq2";
}

.box2 {
	grid-template-areas:
		"smsq1 bigsq bigsq"
		"smsq2 bigsq bigsq"
		"bigrow bigrow bigrow";
}

.box3 {
	grid-template-areas:
		"bigsq bigsq smsq1"
		"bigsq bigsq shcol"
		"shrow shrow shcol";
}

.box4 {
	grid-template-areas:
		"shcol shrow shrow"
		"shcol bigsq bigsq"
		"smsq1 bigsq bigsq";
}

.bigsq {
	grid-area: bigsq;
	background-color: rgba(100, 100, 150, 0.25);
}
.bigrow {
	grid-area: bigrow;
	background-color: rgba(150, 100, 100, 0.25);
}
.shcol {
	grid-area: shcol;
	background-color: rgba(100, 150, 100, 0.25);
}
.shrow {
	grid-area: shrow;
	background-color: rgba(150, 150, 100, 0.25);
}
.smsq1 {
	grid-area: smsq1;
	background-color: rgba(100, 150, 150, 0.25);
}
.smsq2 {
	grid-area: smsq2;
	background-color: rgba(150, 100, 150, 0.25);
}

.container {
	width: calc(50% - (0.25rem + 0.5vmin) / 2);
	max-width: max(800px, 100%/3);
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: calc(0.25rem + 0.5vmin);
}

.container > :is(div, button) {
	container-type: inline-size;
	border-radius: var(--border-radii);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px var(--text);
	border: 0;
}

.container > :is(button:hover, button:focus, div:hover, div:focus-visible) {
	background-color: var(--background);
	background-repeat: no-repeat;
	background-size: 0;
	transform: translate(1px, 1px);
	transition: transform 0.1s ease;
	box-shadow: 2px 2px 10px -9px var(--text);
}
.container h3 {
	visibility: hidden;
	display: grid;
	place-content: center;
	height: 100%;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: clamp(1rem, calc(1rem + 10cqi), 1.8rem);
}
.container button:hover .caption,
.container button:focus .caption {
	visibility: visible;
}

dialog {
	border: 1rem solid var(--header);
	box-shadow: 0 0 2rem -2rem var(--text);
	max-width: 900px;
}
dialog h2 {
	display: inline;
}
dialog, dialog :is(p, img) {
	border-radius: var(--border-radii);
}
dialog p {
	max-width: 80ch;
	margin-inline: auto;
}
dialog p:last-child {
	margin-bottom: 0;
}
dialog::backdrop {
	/* background-color: rgba(41,86,79,0.8); */
	backdrop-filter: blur(0.25rem);
	overscroll-behavior: contain;
}
dialog button {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: calc(1.5rem + 1vw);
	aspect-ratio: 1;
	padding: 0;
	line-height: calc(1.5rem + 1vw);
	font-size: calc(1.5rem + 1vw);
	color: var(--header);
	background-color: var(--links);
	border-radius: 50%;
	border: 0;
}
dialog button:hover {
	background-color: var(--background);
}
dialog::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}
dialog::-webkit-scrollbar-track {
	background: transparent;
	width: 1rem;
}
dialog::-webkit-scrollbar-thumb {
	background: var(--find);
	border-radius: var(--border-radii);
}
dialog::-webkit-scrollbar-thumb:hover {
	background: var(--b2top);
}
dialog::-webkit-scrollbar-corner {
	background: transparent;
}

@media only screen and (max-aspect-ratio: 3/4) {
	#work .container {
		width: 100%;
	}
}


.blog {
	z-index: 13;
}
.blog h2 {
	margin-inline: auto 14%;
	background-color: var(--blog);
}
.blog::after {
	background-color: var(--blog);
	height: 5.2vmin;
}
#blog {
	z-index: 3;
	background-color: var(--blog);
}

.find {
	z-index: 14;
}
.find h2 {
	margin-inline: auto 0.25rem;
	background-color: var(--find);
}
.find::after {
	background-color: var(--find);
	border-top-right-radius: 0;
}
#find {
	top: calc(var(--tabheight) + 5vmin);
	z-index: 14;
	background-color: var(--find);
}
@supports(height: 100dvh) {
	#find {
		min-height: calc(100dvh - 5vmin - var(--tabheight));
	}
}
