/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 
/* karla - variable */
@font-face {
	font-family: 'Karla';
	font-weight: 200 800;
	font-display: swap;
	src:
		url('/fonts/karla.woff2') format('woff2 supports variations'),
		url('/fonts/karla.woff2') format('woff2-variations');
}

:root {
	
	--popcolourHS: 170,30%;
	--bgcolourHS: 0,0%;

	/* colours  */
	--background: hsl(var(--popcolourHS), 70%);
	--hoverpop: hsl(var(--popcolourHS), 50%);
	
	--header: hsl(var(--bgcolourHS), 100%);
	--intro: hsl(var(--bgcolourHS), 95%);
	--stuff: hsl(var(--bgcolourHS), 90%);
	--contact: hsl(var(--bgcolourHS), 85%);
	
	--scrollbar: hsl(var(--bgcolourHS), 75%);
	--scrollhover: hsl(var(--bgcolourHS), 70%);

	/* scaling */
	--tabheight: clamp(40px, 8vw, 60px);
	--border-radii: 0.4rem;
	
	/* fonts */
	--normal: 400;
	--heavy: 600;	

    --h0: clamp(1.8rem, 6.5vmin, 2.5rem);
    --h1: clamp(1.5rem, 6vmin, 2rem);
    --h2: clamp(1.3rem, 5.5vmin, 1.75rem);
    --h3: clamp(1.1rem, 5vmin, 1.5rem);
    --p: clamp(0.8rem, 4.5vmin, 1.0rem);
    --gap: clamp(0.5rem, 3vmin, 0.7rem);
}

@media (prefers-color-scheme: dark) {

	:root {
	
		/* Dark */
		--background: hsl(var(--popcolourHS), 30%);
		--hoverpop: hsl(var(--popcolourHS), 50%);
		
		--header: hsl(var(--bgcolourHS), 0%);
		--intro: hsl(var(--bgcolourHS), 10%);
		--stuff: hsl(var(--bgcolourHS), 17.5%);
		--contact: hsl(var(--bgcolourHS), 25%);
		
		--scrollbar: hsl(var(--bgcolourHS), 40%);
		--scrollhover: hsl(var(--bgcolourHS), 50%);
		
		/* fonts */
		--normal: 300;
		--heavy: 500;	
	}
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	
	margin-block-start: 0;
	margin-block-end: 0;
	
	box-sizing: border-box;
	
/*	outline: 1px dashed; */
}

html {
	scroll-behavior: smooth;
	font-family: 'Karla', sans-serif;
}

body {
	font-family: Karla, Verdana, sans-serif;
	height: 100%;
	margin: auto;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	background-color: var(--background);
}

header, footer {
	height: var(--tabheight);
	padding: 0 1rem;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}


/* ---------------------------------------------------------- */



a {
	color: CanvasText;
	text-decoration: none;
}
a:not(#topstrip a, section h2 a, .img, .thumb a), #inline-toggle {
    /* border-bottom: 1px solid var(--sopranopop); */
		text-decoration: underline 0.15rem var(--hoverpop);					
}
a:hover, a:active, #inline-toggle:hover, #inline-toggle:active{
	color: var(--hoverpop);
}
a:not(#topstrip a, section h2 a, .img, .thumb a, .backtotop):hover, #inline-toggle:hover {
	text-decoration: underline 0.1rem wavy CanvasText;
}
a:focus-visible, button:focus-visible {
	outline: 0.2rem dashed var(--hoverpop);
	outline-offset: 0.25rem;
	border-radius: var(--border-radii);
}

#toggleBtn {
	position: fixed;
	right: min(5vw,3rem);
	bottom: min(3vw,2rem);
	z-index: 10;
	width: calc(1.5rem + 0.75vw);
	height: calc(2rem + 1vw);
	opacity: 0.75;
	background-color: transparent;
	background-image: url('/images/led-on.svg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
}

#toggleBtn:focus-visible {
	opacity: 1;
}

.dark-mode #toggleBtn {
	background-color: var(--info);
	background-image: url('/images/led-off.svg');
	filter: invert(100%);
}

@media (hover: hover) {
	#toggleBtn {
		opacity: 0.50;
		transition: opacity 0.25s, background-image 0.5s;
	}
	#toggleBtn:hover {
		opacity: 0.75;
		background-image: url('/images/led-off.svg');
	}
	.dark-mode #toggleBtn:hover {
		background-image: url('/images/led-on.svg');
	}
}

#inline-toggle {
	background-color: transparent;
	font-size: clamp(0.8rem, 2vw + 0.5rem, 1.2rem);
	font-family: 'Karla', sans-serif;
}

.header {
	top: calc(var(--tabheight) + 5px);
	z-index: 0;
	width: calc(100% - 18px);
	height: calc(100vh - 5px - var(--tabheight));
	background-color: var(--header);
	overflow: hidden;
}

#topstrip {
	display: flex;
	position: relative;
	justify-content: space-between;
    padding: 0 clamp(0.75rem, 4vw, 1.5rem);
	margin: 0 auto;
	z-index: 5;
}

#name, nav, h2, h3 {
	font-weight: 300;
}

#name {
	font-size: clamp(1rem, 2vw + 0.75rem, 2.2rem);
	line-height: calc(var(--tabheight) + 5px);
}

nav {
	font-size: clamp(0.9rem, 2vw + 0.6rem, 1.8rem);
	line-height: calc(var(--tabheight) + 5px);
	text-align: right;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin: 0 0.5vw;
}

.header p {
	text-align: center;
	margin: 2rem 1rem;
}

#hero {
	width: 90%;
	height: 90%;
	max-height: calc(100% - 6rem);
	position: relative;
	margin: 0 auto;
	font-size: clamp(5px, 2.2vw, 18px);
}



#hero div:hover, #hero div:hover::before, #hero div:hover::after {
  opacity: 0.5;
  transition: opacity ease 0.5s, box-shadow ease 0.5s;
  box-shadow: 0 0 5px CanvasText inset;
}
#hero div {
  transition: opacity ease 0.5s, box-shadow ease 0.5s;
}


.scrollup {
	position: absolute;
	bottom: calc(var(--tabheight) + 5px);
	left: calc(50% - 1.5rem);
	height: 2rem;
	width: 3rem;
	opacity: 0;
	animation: fadeIn 15s ease;
	z-index: 4;
}

@keyframes fadeIn{
	0%{
		opacity: 0.25;
	}
	2.5%{
		opacity: 1;
	}
	10%{
		opacity: 0.25;
	}
	12.5%{
		opacity: 1;
	}
	20%{
		opacity: 0.25;
	}
	22.5%{
		opacity: 1;
	}
	30%{
		opacity: 0.25;
	}
	100%{
		opacity: 0;
	}
}

section, .header {
	margin: 0 auto;
	position: sticky;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
}
section {
	padding: 0 3vw;
}
.anchor {position:absolute}

section h2 {
	display: block;
	position: absolute;
	top: calc(-1 * var(--tabheight));
	height: calc(var(--tabheight) + 3px);
	line-height: var(--tabheight);
	width: 22%;
	font-size: clamp(0.8rem, 5vw, 2.2rem);
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
}
section h2 a { display: block; width: 100% }

article {
	position: relative;
	top: 3vw;
	font-weight: var(--normal);
	font-size: clamp(0.8rem, 2vw + 0.5rem, 1.2rem);
	line-height: clamp(0.75rem, 2vw + 1rem, 1.75rem);
	max-width: 50rem;
	height: calc(100vh - (2.5 * var(--tabheight)) - 3vw);
	padding: 0.5rem;
	margin: 0 auto;
	overflow: auto;
}

article p, article ul, article h3 {
	padding: 0.5rem 0;
}

article h3 {
	font-size: clamp(1.1rem, 3vw + 0.5rem, 2rem);
}

img {
	max-width: 100%;
	max-height: 40vh;
	display: inline-block;
}
img:not(.social, .logo) {
	border-radius: var(--border-radii);
}

.backtotop {
	position: absolute;
	height: 2.5rem;
	width: 2.5rem;
	bottom: 1rem;
	left: calc(50% - 1.5rem);
	text-align: center;
	border-radius: 50%;
	background-color: var(--background);
}
.backtotop img {
	height: 2rem;
	width: 1.5rem;
}
.backtotop:hover, .backtotop:focus {
	background-color: var(--hoverpop);
	border-radius: 50%;
}

#intro {
	z-index: 6;
	width: calc(100% - 14px);
	background-color: var(--intro);
	height: calc(100vh - 9px - 2 * var(--tabheight));
	top: calc(2 * var(--tabheight) + 9px);
}
#gointro {top: calc(100vh - 10px - (2 * var(--tabheight)))}
#intro h2 {
	right: 39%;
	background-color: var(--intro);
}
.welcome {
	display: flex;
	justify-content: space-between;
}
.welcome .blurb {
	flex: 3;
}
.welcome img {
	height: 50vmin;
	min-height: 122.5px;
	margin: 0 auto;
}
.signoff {
	text-align: right;
}

#stuff {
	z-index: 7;
	width: calc(100% - 10px);
	background-color: var(--stuff);
	height: calc(100vh - 12px - 2 * var(--tabheight));
	top: calc(2 * var(--tabheight) + 12px);
}
#gostuff {top: calc(200vh - 22px - (4 * var(--tabheight)))}
#stuff h2 {
	right: 19.5%;
	background-color: var(--stuff);
}
.thumb {
	min-width: 120px;
	max-width: 360px;
	max-height: 40vh;
	position: relative;
	transition: transform 0.25s;
}
.thumb:hover {
	transform: translate(1px, 1px);
}
.thumb p {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
    color: #fff;
	text-align: center;
	text-transform: uppercase;
	line-height: 3rem;
	font-size: var(--h1);
	font-weight: var(--heavy);
	background-color: var(--hoverpop);
	opacity: 0.9;
}
.thumb:hover p {opacity:1}

.stack {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	place-items: center;
	place-content: center;
	gap: min(3vw, 3.5rem);
}
.logo {
	height: calc(2rem + 2vw);
	max-width: max(3rem, 5vw);
	/* filter: drop-shadow(0 0 3px hsla(var(--bgcolourHS), 85%, 0.75)); */
}

.flex-break {
	display: none;
	flex-basis: 100%;
	width: 0;
	height: 0;
}

#contact {
	z-index: 8;
	width: calc(100% - 6px);
	border-top-right-radius: 0;
	background-color: var(--contact);
	height: calc(100vh - 16px - 2 * var(--tabheight));
	top: calc(2 * var(--tabheight) + 16px);
}
#gocontact {top: calc(300vh - 42px - (5 * var(--tabheight)))}
#contact h2 {
	right: 0;
	background-color: var(--contact);
}
#contact article ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	gap: 10vmin 5vmin;
	padding: 10vmin 5vmin;
	list-style-type: none;
}
#contact article ul li {
	min-width: 25%;
	min-height: 25%;
	text-align: center;
}
.social {
	height: clamp(2rem, 4vw + 1.5rem, 4rem);
	width: auto;
	opacity: 0.75;
	transition: opacity 0.25s, transform 0.25s;
}
.social:hover {
	transform: translate(1px, 1px);
	opacity: 0.5;
}

article::-webkit-scrollbar {
  width: 0.5rem;
}

article::-webkit-scrollbar-track {
  background: transparent;
}

article::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: var(--border-radii);
}

article::-webkit-scrollbar-thumb:hover {
  background: var(--scrollhover); 
}

.dark-mode :is(.scrollup, [title="PHP"], [title="Next.js"], [title="Prisma"], [title="PowerShell"], .social, .backtotop img)  {
		filter: invert(100%);	
}

.dark-mode :is([title="MySQL"])  {
		filter: brightness(150%);	
}

@media (max-aspect-ratio: 1/1) {
	.flex-break {
		display: block;
	}
	.welcome {
		flex-direction: column-reverse;
	}
	#contact article ul {
		grid-template-columns: 1fr 1fr;
	}
}