:root, ::backdrop {

	/* colours */

	--hue1: 200; /* petrol-teal */
	--hue2: 260; /* lilac */
	--hue3: 220; /* midnight blue */

  --theme: var(--hue1, 0), var(--sat1, 40%);
  --pop: var(--hue2, 0), var(--sat2, 30%);
  --base: var(--hue3, 0), var(--sat3, 15%);

	--art: var(--theme);
	--artHover: hsl(var(--pop), 50%);

	--background: hsl(var(--pop), 50%);
	--text: hsl(var(--base), 20%);
	--links: hsl(var(--theme), 30%);
	--hover: hsl(var(--pop), 40%);
	--shadow: hsla(var(--base), 0%, 0.25);

  --header: hsl(var(--base), 100%);
  --sara: hsl(var(--base), 90%);
  --stuff: hsl(var(--base), 85%);
  --blog: hsl(var(--base), 80%);
  --find: hsl(var(--base), 75%);

	--b2top: hsl(var(--base), 60%);

	/* scaling */
	--tabheight: clamp(40px, 8vw, 60px);
	--border-radii: 0.4rem;
	--sml: clamp(0.8rem, 2vw, 1.0rem);
	--p: clamp(1.0rem, 2vw, 1.25rem);
	--h4: clamp(1.25rem, 3vw, 1.5rem);
	--h3: clamp(1.5rem, 4vw, 1.75rem);
	--h2: clamp(1.75rem, 5vw, 2rem);
	--h1: clamp(2rem, 6vw, 2.5rem);
	--icons: clamp(32px, 10vw, 64px);
	
	/* fonts */
	--normal: 400;
	--heavy: 500;
}

:root.dark-mode {

	/* colours */
	--background: hsl(var(--pop), 35%);
	--text: hsl(var(--base), 80%);
	--links: hsl(var(--theme), 60%);
	--hover: hsl(var(--pop), 60%);
	--shadow: hsla(var(--base), 0%, 0.5);

  --header: hsl(var(--base), 0%);
  --sara: hsl(var(--base), 15%);
  --stuff: hsl(var(--base), 20%);
  --blog: hsl(var(--base), 25%);
  --find: hsl(var(--base), 30%);

	--b2top: hsl(var(--base), 40%);
	
	/* fonts */
	--normal: 300;
	--heavy: 500;
}

:root.high-contrast {

  --header: Canvas;
  --sara: Canvas;
  --stuff: Canvas;
  --blog: Canvas;
  --find: Canvas;

	--text: CanvasText;
	--links: CanvasText;
	--border: 0.2rem solid CanvasText;
}

:root.mode1 {
	--hue1: 170; /* greenish-turquoise */
	--hue2: 325; /* dusky pink */
	--sat3: 0%; /* grey */
}
:root.mode2 {
	--hue1: 350;
	--hue2: var(--hue1);
	--hue3: var(--hue1);
}
:root.mode3 {
	--hue1: 30;
	--hue2: var(--hue1);
	--hue3: var(--hue1);
}
:root.mode4 {
	--hue1: 80;
	--hue2: var(--hue1);
	--hue3: var(--hue1);
}
:root.mode5 {
	--hue1: 180;
	--hue2: var(--hue1);
	--hue3: var(--hue1);
}
:root.mode6 {
	--hue1: 230;
	--hue2: var(--hue1);
	--hue3: var(--hue1);
}
:root.mode7 {
	--hue1: 300;
	--hue2: var(--hue1);
	--hue3: var(--hue1);
}
:root.mode8 {
	--sat1: 0%;
	--sat2: var(--sat1);
	--sat3: var(--sat1);
}

.high-contrast :is(main > section, main .post, .shortIndex, .roll, .wips, .notesIndex, .blogPost, .guestbookIndex, .nowPage) {
	border-inline: var(--border);
}
.high-contrast .tab > *, 
.high-contrast .tab::after, 
.high-contrast header > div {
	border-top: var(--border);
	border-inline: var(--border);
}
.high-contrast :is(.blogPost, .shortIndex, .roll, .wips, .notesIndex, .guestbookIndex) .tab {
	width: calc(100% - 0.85rem);
}
.high-contrast :is(.blogPost, .shortIndex, .roll, .wips, .notesIndex, .guestbookIndex) .post {
	margin: 0 0.1rem;
}
.high-contrast :is(.blogPost, .shortIndex, .roll, .wips, .notesIndex, .guestbookIndex) .tab::after {
	width: calc(100% - 0.2rem);
}
.high-contrast :is(.statuslol, .now_content, .container button, dialog, li.posts, input, textarea, .post .short, .tweet, .toot, .entry, pre) {
	border: var(--border);
}
.high-contrast .posts {
	background-color: transparent;
}

html {
	background-color: var(--background);
}
			
body {
	margin: 0 0.25rem 0;
	overscroll-behavior: none;
	font-family: Karla;
  font-optical-sizing: auto;
  font-weight: var(--normal);
  font-style: normal;
}

p, details:not(#blog-other) {font-size: var(--p)}
h4 {font-size: var(--h4)}
h3 {font-size: var(--h3)}
h2 {font-size: var(--h2)}
h1 {font-size: var(--h1)}

a, a:visited { 
	color: var(--links);
	font-weight: var(--heavy);
	text-decoration-line: underline;
	text-decoration-color: var(--hover);
	text-decoration-thickness: 0.2ex;
	text-underline-offset: 0.25ex;
}
a:hover, a:active, a:focus {
	color: var(--hover);
	border-bottom: 0;
	text-decoration-color: var(--links);
	text-decoration-style: wavy;
	text-underline-offset: 0.15ex;
}
:is(header, .tab, .tabDummy) a {
	text-decoration: none;
	border-bottom: 0;
	font-weight: unset;
}
:focus-visible {
	outline: var(--links) solid;
	outline-offset: 0.2rem;
}
a:focus-visible {
	border-radius: var(--border-radii);
}

img:not(.social, .logo, .icon) {
	display: block;
	max-width: 100%;
	height: auto;
}

img:is(.logo, .social) {
	height: var(--icons);
	max-width: calc(1.25 * var(--icons));
	filter: invert(0%) drop-shadow(0.1rem 0.1rem 0.25rem var(--shadow));
}
.dark-mode :is(.social, [title="PHP"], [title="Next.js"],
[title="Astro"], [title="Prisma"], [title="PowerShell"]) {
	filter: invert(80%) drop-shadow(0.1rem 0.1rem 0.25rem var(--shadow));
}

main {
	background-color: var(--header);
}

.tab {
	position: sticky;
	top: 0.5rem;
	pointer-events: none;
}
.tab > * {
	display: block;
	width: 16%;
	height: calc(var(--tabheight) - 0.25rem);
	line-height: calc(var(--tabheight) - 0.25rem);
	padding: 0 0.25em;
	margin: 0;
	font-size: clamp(0.9rem, 4.5vw, 2.5rem);
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
	pointer-events: auto;
	overflow: hidden;
}
.tab::after {
	content: "";
	display:block;
	width: calc(100% - 0.5rem);
	height: 5vmin;
	margin: -0.1rem auto -0.1rem;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
}

main, .post {
	min-height: calc( 100vh - var(--tabheight));
}

main > section {
	position: sticky;
	min-height: calc(100vh - 5vmin - var(--tabheight));
	margin: 0 0.25rem calc(-1 * var(--tabheight));
	padding: 0.25rem 5vmin calc(3 * var(--tabheight));
	scroll-margin-top: calc(var(--tabheight) + 5vmin);
}

main > section:not(#stuff) {
	display: grid;
	place-content: center;
}

main > section:is(#sara, #blog) > article {
	overflow: visible;
	margin: 0 auto;
	max-width: 900px;
}

#page-title {
	scroll-margin-top: calc(var(--tabheight) + 5vmin);
}

section > article ul:not(.now_content ul) {
	list-style-type: none;
	margin-block: 0;
	padding-inline-start: 0;
}

footer {margin-block-start: 8vmin;}
footer > * {
	display: block;
	margin: 1rem auto 0;
	width: fit-content;
}
footer summary {
	width: fit-content;
	margin-inline: auto;
}

.anchor {
	height: 0px;
	position: relative;
	top: -0.5rem;
}
/* #gosara {
	top: calc(100vh - var(--tabheight) - 0.5rem);
} */

.backtotop {
	display: grid;
	place-content: center;
	place-items: center;
	position: absolute;
	bottom: 2rem;
	left: calc(50% - 1rem);
	height: 2rem;
	width: 2rem;
	padding-bottom: 0.2rem;
	border-radius: 50%;
	background-color: var(--b2top);
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px black;
}

.backtotop:hover {
	background-color: var(--background);
	transform: translate(1px, 1px);
	box-shadow: 2px 2px 10px -9px black;
}



#hero {
	display: grid;
	place-content: center;
	place-items: center;
	z-index: 0;
	top: var(--tabheight);
	height: calc(100vh - var(--tabheight));
	background-color: var(--header);
	margin: 0 auto;
	padding-bottom: 0;
	font-size: 2.25vh;
	overflow: hidden;
}
#hero article {
	position: relative;
	top: calc(0.25 * var(--tabheight));
}
#hero p {
	font-size: 0.8rem;
	margin-block: 1rem;
	text-align: center;
}
#hero div, #hero div::before, #hero div::after {
	outline: 0 solid var(--artHover);
  transition: scale ease 0.25s, outline ease 0.5s;
}
#hero div:hover {
	scale: 1.05;
}
#hero div:hover, #hero div:hover::before, #hero div:hover::after {
	outline-width: 0.2em;
}

.sara {
	z-index: 11;
}
.sara > * {
	margin-inline: auto 42%;
	background-color: var(--sara);
}
.sara::after {
	background-color: var(--sara);
}
#sara {
	z-index: 1;
	background-color: var(--sara);
}

:is(#sara, #find) h3:first-child {
	margin-top: 0;
}

.welcome {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
.welcome > img {
	max-width: 80%;
	aspect-ratio: 1;
	margin: 0 auto;
	border-radius: 50%;
	filter: drop-shadow(0.1rem 0.1rem 0.5rem var(--shadow));
}

/* ============================= omg.lol stuff ============================= */

.statuslol, .now_content {
	padding: 1rem;
	background-color: var(--header);
	border-radius: 0.4rem;
	box-shadow: 0.1rem 0.1rem 1rem -0.5rem var(--shadow);
}
#nowPage {
	margin: 1vmin auto 8vmin;
	width: fit-content;
}
#nowPage summary {
	margin: 0 auto 1vmin;
	width: fit-content;
	cursor: pointer;
}
.now_after h4 {
  margin-block: 1.25em 0.5em;
}
.now_after *:first-child { margin-top: 0;}
.now_after *:last-child { margin-bottom: 0;}
.now_after li {
  font-size: var(--p);
	margin-bottom: 0.4em;
}

main.nowPage {
	padding: var(--tabheight) 3vmin 3vmin;
}
main.nowPage :is(.statuslol, .now_content) {
	background-color: var(--sara);
}

/* =========================== end omg.lol stuff =========================== */


@media (max-width: 600px) {
	.welcome {
		flex-direction: column;
	}
}

#sara h3:nth-of-type(2) {
	margin-bottom: 0;
}
.stack {
	margin-inline: auto;
	padding-inline: 3vmin;
	gap: min(2vmin, 20px);
	place-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 750px;
}

.stuff {
	z-index: 12;
}
.stuff > * {
	margin-inline: auto 28%;
	background-color: var(--stuff);
}
.stuff::after {
	background-color: var(--stuff);
	height: 5.1vmin;
}
#stuff {
	z-index: 2;
	background-color: var(--stuff);
}

#stuff article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: calc(0.25rem + 0.5vmin);
}

.box1 {
	grid-template-areas:
		"bigrow bigrow bigrow"
		"bigsq bigsq shcol"
		"bigsq bigsq shcol";
}

.box2 {
	grid-template-areas:
		"smsq1 bigsq bigsq"
		"smsq2 bigsq bigsq"
		"bigrow bigrow bigrow";
}

.box3 {
	grid-template-areas:
		"bigsq bigsq smsq1"
		"bigsq bigsq smsq2"
		"shrow shrow smsq3";
}

.box4 {
	grid-template-areas:
		"shcol shrow shrow"
		"shcol bigsq bigsq"
		"smsq1 bigsq bigsq";
}

.bigsq { grid-area: bigsq }
.bigrow { grid-area: bigrow }
.shcol { grid-area: shcol }
.shrow { grid-area: shrow }
.smsq1 {
	grid-area: smsq1;
	background-color: rgba(100, 150, 150, 0.25);
}
.smsq2 {
	grid-area: smsq2;
	background-color: rgba(150, 100, 150, 0.25);
}
.smsq3 {
	grid-area: smsq3;
	background-color: rgba(100, 150, 150, 0.25);
}

.container {
	width: calc(50% - (0.25rem + 0.5vmin) / 2);
	max-width: max(800px, 100%/3);
	aspect-ratio: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: calc(0.25rem + 0.5vmin);
}
@media only screen and (max-aspect-ratio: 4/5) {
	#stuff .container {
		width: 100%;
	}
}

.container > :is(div, button) {
	container-type: inline-size;
	border-radius: var(--border-radii);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px black;
	border: 0;
}

.container > :is(button:hover, button:focus-visible, div:hover, div:focus-visible) {
	background-color: var(--background);
	background-repeat: no-repeat;
	background-size: 0;
	transform: translate(1px, 1px);
	box-shadow: 2px 2px 10px -9px black;
}
.container .caption {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 

	display: grid;
	place-content: center;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: clamp(1rem, calc(1rem + 8cqi), 3rem);
	font-weight: bold;
}
.container button:hover .caption,
.container button:focus-visible .caption {
	clip: auto;
	clip-path: none;
	height: 100%;
  width: auto;
  overflow: auto;
	position: initial;
	white-space: normal;
}

dialog[open] {
	color: var(--text);
	background-color: var(--header);
	overscroll-behavior: contain;
	border: 0.25rem solid var(--header);
	border-radius: var(--border-radii);
	padding: 0;
	overflow: hidden;
}
dialog > div {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	max-height: calc((100vh - 6px) - 3em);
	overflow: auto;
}
dialog img {
	border-radius: calc(var(--border-radii) / 2);
}
dialog p {
	max-width: 80ch;
	margin-inline: auto;
}
dialog p:last-child {
	margin-bottom: 0;
}
dialog::backdrop {
	background-color: hsla(var(--base), 50%, 0.35);
	-webkit-backdrop-filter: blur(0.25rem);
					backdrop-filter: blur(0.25rem);
}
dialog form {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}
dialog button:not(.inline) {
	width: calc(1.5rem + 1vw);
	aspect-ratio: 1;
	padding: 0;
	line-height: calc(1.5rem + 1vw);
	font-size: calc(1.5rem + 1vw);
	color: var(--header);
	background-color: var(--links);
	border-radius: 50%;
	border: 0;
}
dialog button:not(.inline):hover {
	background-color: var(--background);
}
dialog > div::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}
dialog > div::-webkit-scrollbar-track {
	background: transparent;
	width: 1rem;
}
dialog > div::-webkit-scrollbar-thumb {
	background: var(--find);
	border-radius: var(--border-radii);
}
dialog > div::-webkit-scrollbar-thumb:hover {
	background: var(--b2top);
}
dialog > div::-webkit-scrollbar-corner {
	background: transparent;
}

pre.ascii-art {
	font-size: clamp(0.5rem, 1.75vw, 1.5rem);
	line-height: 1em;
}



.blog {
	z-index: 13;
}
.blog > * {
	margin-inline: auto 14%;
	background-color: var(--blog);
}
.blog::after {
	background-color: var(--blog);
	height: 5.2vmin;
}
#blog {
	z-index: 3;
	background-color: var(--blog);
}
#blog article ul {
	display: grid;
	gap: 5vmin;
}
.posts {
	display: flex;
	max-height: 25vmin;
	overflow: hidden;
	border-radius: var(--border-radii);
	background-color: hsla(var(--pop), 50%, 25%);
	transition: transform 0.2s ease;
	box-shadow: 2px 2px 10px -8px black;
	/* margin-block-end: 5vmin; */
}
.posts:hover {
	background-color: hsla(var(--theme), 50%, 25%);
	transform: translate(1px, 1px);
	box-shadow: 2px 2px 10px -9px black;
}
.posts > a {
	flex: none;
}
.posts img {
	display: block;
	height: 25vmin;
	aspect-ratio: 1;
	object-fit: cover;
}
.posts div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 3vmin 4vmin;
}
.posts :is(h3, h4) {
	font-size: var(--h3);
	margin: 0;
}
.posts time {
	text-align: right;
}
.posts:not(.featured, .downplay) {
	max-height: 17.5vmin;
}
.posts:not(.featured, .downplay) img {
	height: 17.5vmin;
}
.posts:not(.featured) p {
	margin-block: 0.5em;
}
.posts:not(.featured) :is(h3, h4) {
	font-size: var(--h4);
}
.posts.downplay {
	max-height: 10vmin;
}
.posts.downplay img {
	height: 10vmin;
}
.posts.downplay div {
	padding: 2vmin 3vmin;
}
.posts.downplay :is(h3, h4) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 2;
		-webkit-line-clamp: 2;
	overflow: hidden;
}

#blog details h3 {
	display: inline-block;
}

@media only screen and (max-width: 720px) {
	.posts:not(.downplay) {
		flex-direction: column;
		max-height: none;
	}
	.posts:not(.downplay) img {
		width: 100%;
		max-width: 100%;
		height: 50vw;
	}
	.posts:not(.featured, .downplay) img {
		object-position: 0 25%;
		width: 100%;
		max-width: 100%;
		height: 25vw;
	}
	.posts:not(.featured, .downplay) p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
	.posts.downplay {
		max-height: 12.5vmin;
	}
	.posts.downplay h3 {
		line-clamp: 1;
		-webkit-line-clamp: 1;
	}
}
@media only screen and (max-width: 500px) {
	.posts.downplay {
		max-height: none;
	}
	.posts.downplay h3 {
		display: block;
	}
	.posts.downplay img {
		display: none;
	}
}

#feeds {
	display: flex;
	justify-content: center;
	margin-block: 5vmin;
	gap: max(2vmin, 1rem);
}
#feeds a {
	text-align: center;
}
.high-contrast:not(.dark-mode) #feeds img[alt="BlogRoll"] {
	filter: 
	drop-shadow( 2px  0px 0px black) 
	drop-shadow(-2px  0px 0px black)
	drop-shadow( 0px  2px 0px black) 
	drop-shadow( 0px -2px 0px black);
}

.tab.find {
	z-index: 14;
}
.tab.find > * {
	margin-inline: auto 0.25rem;
	background-color: var(--find);
}
.tab.find::after {
	background-color: var(--find);
	border-top-right-radius: 0;
	height: 5.3vmin;
}
#find {
	z-index: 4;
	background-color: var(--find);
	margin-bottom: 0;
}
#find > article {
	max-width: 80ch;
}
#find ul.socials {
	text-wrap: balance;
	text-align: center;
	padding-block-end: 5vmin;
}
#find ul.socials li {
	display: inline-block;
	margin: 2.5vmin;
	text-align: center;
}
#find ul.socials li a {
	font-size: var(--sml);
}
img.social {
	transition: opacity 0.2s ease, transform 0.2s ease;
	opacity: 0.8;
}
img.social:is(:hover,:active,:focus-visible) {
	transform: translate(1px, 1px);
	opacity: 0.6;
}

#form {
	scroll-margin-top: calc(2 * var(--tabheight));
	accent-color: var(--links);
}
input,
textarea {
	border: 1px solid var(--links);
	background-color: var(--stuff);
	border-radius: calc(var(--border-radii) / 2);
}
input[type="checkbox"] {
	width: var(--h1);
}
form button {
	border-radius: calc(var(--border-radii) / 2);
	color: var(--header);
	background-color: var(--links);
}
form button:hover,
form button:focus {
	background-color: var(--hover);
}
form button:active {
	color: var(--text);
	background-color: var(--background);
}

.links-out {
	text-align: center;
}
.links-out * {
	margin: 0;
}

.links-out h4 {
	margin-block: 1.5em 0.25em;
}

.links-out .a11y-webring-club ul {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.links-out details {
	width: fit-content;
	margin-inline: auto;
}
.links-out summary h4 {
	display: inline-block;
}
#privacy-policy {
	scroll-margin-top: calc(2 * var(--tabheight));
}
#privacy-policy-details > a {
	display: block;
	text-align: center;
}

#indieWeb a:nth-child(odd) {
	text-decoration: none;
}


@supports(height: 100dvh) {
	#find {
		min-height: calc(100dvh - 5vmin - var(--tabheight));
	}
}


@media only screen and (min-width: 2200px) {
	#blog ul {
		grid-template-columns: 1fr 1fr;
	}
	/* #blog li {
		margin-inline: 2vmin;
	} */
	
	main > section#blog > article {
		max-width: 1800px;
	}
}


/* ---------------------- blog posts ------------------------ */
.post {
	background-color: var(--blog);
}
.post, .work {
	margin: 0 0.25rem;
}
.post img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border-radius: var(--border-radii);
	/* box-shadow: 1px 1px 15px -12px black; */
}
.post p>img {
	margin-top: 0.5rem;
}
.post :is(.caption, blockquote) {
	font-style: italic;
}
.post .caption {
	text-align: center;
	font-size: var(--sml);
}
.post li {
	font-size: var(--p);
	line-height: var(--h3);
}
.post h2 {
	color: var(--links);
}
.post h3, .post h4, .post h1 {
	color: var(--hover);
}
.post :is(h2, h3, h4) {
	scroll-margin-top: calc(2 * var(--tabheight));
}
#toc {
	width: fit-content;
	margin: 0 auto 5vmin;
	padding: 0.25rem 0.75rem;
	border-radius: var(--border-radii);
	outline: 2px dashed var(--hover)
}
#toc h2 {
	font-size: var(--h3);
	margin-bottom: 0;
	display:inline;
}
#toc ul {
	list-style: none;
	padding-inline-start: 0;
}
#toc .d3 {
	font-size: var(--sml);
	padding-inline-start: 1em;
}

.post p > code {
  background-color: var(--stuff);
  padding: 0 0.2em 0.1em;
  border-radius: var(--border-radii);
}
:is(.post, .work) :is(.short, .sheet, .tweet, .toot, .entry, pre), mastodon-post :is(figure, blockquote) {
	padding: 3vmin;
	border-radius: var(--border-radii);
	box-shadow: 1px 1px 15px -12px black;
}
:is(.post, .work) :is(.short, .sheet, .tweet, .toot), mastodon-post figure {
	background-color: var(--sara);
	margin: 5vmin 0;
}
:is(.tweet, .short, .sheet, .toot, .entry, mastodon-post :is(figure, blockquote)) > *:first-child {margin-top: 0}
:is(.tweet, .toot, .sheet, .short > div, .entry, mastodon-post :is(figure, figcaption)) > *:last-child {margin-bottom: 0}

:is(.post, .work) :is(.tweet, .short, .sheet, .toot) pre, mastodon-post :is(blockquote, dd) {
  background-color: var(--header);
}

:is(.post, .work) a.back {
	display: block;
	width: fit-content;
	margin: 3em auto 0;
	font-weight: bold;
}
mastodon-post :is(figure, blockquote) {
	max-width: min(100%, 30rem);
	margin-inline: auto;
}
mastodon-post figcaption {
	text-align: center;
}
mastodon-post cite {
	font-style: normal;
}
mastodon-post dl {
	columns: 3;
	column-gap: 2rem;
}
mastodon-post dd {
	margin: 0.25rem 0 0;
	padding: 0.5rem;
	border-radius: var(--border-radii);
	box-shadow: 1px 1px 15px -12px black;
}


/* ---------------------- other pages ------------------------ */

.rollIndex .title-img {
	filter: drop-shadow(0.5rem 1rem 1rem var(--shadow));
}

.work {
	background-color: var(--stuff);
}

.guestbook summary {
	margin-inline: auto;
	width: fit-content;
}