---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Toggle from "../../../components/Toggle.astro";

const shorts = (await Astro.glob('./*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<html lang="en">
	<head>
		<BaseHead title="Short Thoughts" description="Posts too small to be called articles" image="/images/placeholder.png" />
	</head>

	<body>
		<Header />
		<main>
			<div class="tab sara"><h2><a href="/#gosara">sara</a></h2></div>
			<div class="tab work"><h2><a href="/#gowork">work</a></h2></div>
			<div class="tab blog"><h2><a href="/#goblog">blog</a></h2></div>
			<div class="post">
				<article>

						{shorts.map((short) => (
							<article class="short">
								<h3><a href={short.url}>{short.frontmatter.title}</a></h3>
								<time datetime={short.frontmatter.pubDate}>
									{new Date(short.frontmatter.pubDate).toLocaleDateString('en-gb', {
										year: 'numeric',
										month: 'short',
										day: 'numeric',
									})}
								</time>
								<div set:html={short.compiledContent()}></div>
							</article>
						))}
					<a class="back" href="/#goblog">&larr; back to blog index</a>
				</article>
			</div>
		</main>
		<Toggle />
	</body>
</html>

<style>
	main {
		background-color: var(--header);
		margin-top: var(--tabheight);
	}
	.tab {
		position: fixed !important;
		top: 0.5rem;
		pointer-events: none;
		margin-top: 0 !important;
		width: calc(100% - 0.5rem);
	}
	.tab::after {
	}
	article {
		max-width: 80ch;
		margin: 0 auto;
		padding: 5.5vmin;
	}
	figure {
		margin-inline: auto;
		margin-block: 0 3vmin;
	}
	h1, h3 {
		margin-bottom: 0;
	}
	time {
		display: block;
		width: fit-content;
		margin: 0 0 3rem auto;
	}
	.post {
		background-color: var(--blog);
		margin: 0 0.25rem;
	}
  .post :global(img) {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: 25rem;
		border-radius: var(--border-radii);
    box-shadow: 1px 1px 15px -12px black;
  }
	.post :global(p>img) {
		margin-top: 0.5rem;
	}
	.post :global(.caption) {
		text-align: center;
		font-size: var(--sml);
		font-style: italic;
	}
  .post :global(li) {
    font-size: var(--p);
    line-height: var(--h3);
  }
  .post :global(h2) {
    color: var(--links);
  }
  .post :global(h3), .post :global(h4) {
    color: var(--hover);
  }
  .post :global(.short) {
		padding: 3vmin;
    border-radius: var(--border-radii);
    box-shadow: 1px 1px 15px -12px black;
	}
  .post :global(.short) {
    background-color: var(--work);
		margin: 5vmin 0;
  }
  .post :global(.short > *:first-child) {margin-top: 0}
  .post :global(.short>div > *:last-child) {margin-bottom: 0}

	a.back {
		display: block;
		width: fit-content;
		margin: 3em auto 0;
		font-weight: bold;
	}
</style>