<details id="a11y">
  <summary><strong>Accessibility Statement</strong></summary>
  <p>
    This is very much a hobby website built in my spare time, with many "to do's". I do however fully welcome any advice about where I need to fix something because something is inadvertently inaccessible.
  </p>
  <p>
    I am extremely interested in making the web accessible to *everyone*. I read a lot of material related to a11y, and I plan to attain CPACC certification. The cert itself is not the goal, only a mechanism to gain the authority to push for what needs to be done in my day job.
  </p>
  <p>
    The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. My personal website is partially conformant with WCAG 2.0 level AA. Partially conformant means that some parts of the content do not fully conform to the accessibility standard.
  </p>
  <p>
    As the default page doesn't fully satisfy contrast requirements, I have an added contrast toggle available for those who need or prefer to view the page with high contrast.
  </p>
  <p>
    I welcome your feedback on the accessibility of this website. Please let me know if you encounter accessibility barriers by contacting me via <a href="/#find">your preferred contact method</a>.
  </p>
</details>

<style>
  details, summary {
    margin: 3vmin auto 0;
    width: fit-content;
  }
</style>