---
import { SITE_TITLE } from '../config';

const currentPage = Astro.url.pathname;
console.log(currentPage)

// Import the global.css file here so that it is included on
// all pages through the use of the <Header /> component.
import '../styles/basic.css';
---

<header>
		<!-- <a id="skiplink" href="#gosara">Skip to Content</a> -->
		<nav>
			<ul class="rainbow">
				<li><a class="main-menu" href="/basic/">about</a></li>
				<li><a class="main-menu" href="/basic/blog">blog</a></li>
				<li><a class="main-menu" href="/basic/stuff">stuff</a></li>
				<li><a class="main-menu" href="/basic/contact">contact</a></li>
				{(currentPage.endsWith("/basic/") || currentPage.endsWith("/basic"))  &&
					<li><a class="sub-menu" href="/basic/#now">now</a></li>
				}
				{currentPage.includes("stuff") &&
					<li><a class="sub-menu" href="/basic/stuff/#uses">uses</a></li>
					<li><a class="sub-menu" href="/basic/stuff/#links">links</a></li>
					<li><a class="sub-menu" href="/basic/stuff/#webrings">webrings</a></li>
				}
				{currentPage.includes("blog") &&
					<li><a class="sub-menu" href="/basic/short">short</a></li>
				}
				{currentPage.includes("contact") &&
					<li><a class="sub-menu" href="/basic/contact/#email">email</a></li>
					<li><a class="sub-menu" href="/basic/contact/#socials">socials</a></li>
					<li><a class="sub-menu" href="/basic/contact/#guestbook">guestbook</a></li>
				}
			</ul>
		</nav>
		<a href="/basic"><img id="avatar" src="/android-chrome-192x192.png" alt="basic home"></a>
</header>