---
import { SITE_TITLE } from '../config';

// Import the global.css file here so that it is included on
// all pages through the use of the <Header /> component.
import '../styles/basic.css';
---

<header>
		<!-- <a id="skiplink" href="#gosara">Skip to Content</a> -->
		<nav>
			<ul>
				<li><a href="/basic/">about</a></li>
				<li><a href="/basic/blog">blog</a></li>
				<li><a href="/basic/stuff">stuff</a></li>
				<li><a href="/basic/contact">contact</a></li>
			</ul>
		</nav>
		<img id="avatar" src="/images/sara.png" alt="home">
</header>