---
const today = new Date();
---

<footer>
	<p>{today.getFullYear()} Sara Joy Wallén. All rights reserved.</p>
</footer>
<style>
	footer {
		text-align: center;
		line-height: var(--tabheight);
	}
</style>
