---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<div>
		<h1>
			<a href="/#">{SITE_TITLE}</a>
		</h1>
		<nav>
			<ul>
				<li><a href="/#gosara">sara</a></li>
				<li><a href="/#work">work</a></li>
				<li><a href="/#blog">blog</a></li>
				<li><a href="/#find">find</a></li>
			</ul>
		</nav>
	</div>
</header>

<style>
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--tabheight);
	background-color: var(--background);
	z-index: 10;
}

header div {
	position: fixed;
	top: 0.25rem;
	width: calc(100% - 0.5rem);
	height: calc(var(--tabheight) + 1rem);
	background-color: var(--header);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 0.5em;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
}

h1, nav {
	margin: -0.75em 0 0;
}

h1 {
	font-size: clamp(1rem, 4.75vw, 2rem);
	text-transform: lowercase;
}

nav {
	font-size: clamp(0.9rem, 4.5vw, 1.8rem);
	text-align: right;
}

nav ul {
	list-style-type: none;
	padding-inline-start: 0;
}

nav ul li {
	display: inline-block;
	margin-left: 0.5em;
}
</style>
