---
import { SITE_TITLE } from '../config';
---

<header>
	<div>
		<a id="site-title" href="/#">{SITE_TITLE}</a>
		<nav>
			<ul>
				<li><a href="/#gosara">sara</a></li>
				<li><a href="/#gostuff">stuff</a></li>
				<li><a href="/#goblog">blog</a></li>
				<li><a href="/#find">find</a></li>
			</ul>
		</nav>
	</div>
</header>

<style>
header {
	position: fixed;
	top: 0;
	width: calc(100% - 0.5rem);
	height: calc(var(--tabheight) + 0.5rem);
	background-color: var(--background);
	z-index: 10;
}

header div {
	position: fixed;
	top: 0.25rem;
	width: calc(100% - 0.5rem);
	height: calc(var(--tabheight) + 0.25rem);
	background-color: var(--header);
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 1em;
	border-top-left-radius: var(--border-radii);
	border-top-right-radius: var(--border-radii);
}

#site-title, nav ul {
	margin: 0;
	align-self: center;
}

#site-title {
	font-size: clamp(1rem, 4.75vw, 2rem);
	font-weight: bold;
	text-transform: lowercase;
}

nav {
	display: flex;
	font-size: clamp(0.9rem, 4.5vw, 1.8rem);
	text-align: right;
}

nav ul {
	list-style-type: none;
	padding-inline-start: 0;
}

nav ul li {
	display: inline-block;
	margin-left: 0.75em;
}
</style>
