<details>
  <summary><strong>Privacy Policy</strong></summary>
  <p>I do not track you, I do not run analytics, I do not set cookies.</p>
  <p>I <em>do</em> write to session storage, so that you don't get surprised when your chosen high contrast or dark/light modes turn on or off as you navigate around the site. This disappears the moment you close the tab, or browse away.</p>
  <p>The only data I receive from you, is that which you freely give me through the email or guestbook forms*. Should you want a copy or would like me to delete anything you sent me, I will happily oblige - <a href="../#find">contact me</a> in whichever way you prefer to ask for this.</p>
  <p>* the forms are powered by <a href="https://www.netlify.com/platform/core/forms/">Netlify Forms</a>, and use <a href="https://akismet.com/">Akismet</a> spam filtering. Alternatively, you can directly email me if you add contact@ to the beginning of the domain of this website :)</p>
</details>