<button tabindex="0" class="toggle" id="toggleContrast" onclick="toggleContrast()" title="High Contrast Mode Toggle"></button>
<button tabindex="0" class="toggle" id="toggleLED" onclick="toggleMode();flipTheClaw()" title="Light/Dark Mode Toggle"></button>