@font-face {
	font-family: 'Karla';
	font-weight: 200 800;
	font-display: swap;
	src: local('Karla'),
		url('/fonts/karla.woff2') format('woff2 supports variations'),
		url('/fonts/karla.woff2') format('woff2-variations');
}
:root {
	font-family: Karla, 'Open Sans', sans-serif;
    color-scheme: light dark;
}
main {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
}