---
import BaseHead from "../components/BaseHead.astro";
import BasicHeader from "../components/BasicHeader.astro";
import Header from "../components/Header.astro";
import Toggle from "../components/Toggle.astro";

const {
	frontmatter, headings
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} description="Short thoughts" />
	</head>

	<body>
    <BasicHeader />
		<main class="basicPost">
			<div class="thort">
				<article>
					<h1 class="title">{frontmatter.title}</h1>
					{frontmatter.pubDate && <time>{new Date(frontmatter.pubDate).toLocaleDateString('en-gb', {
						year: 'numeric',
						month: 'short',
						day: 'numeric',
					})}</time>}
					{frontmatter.updatedDate && <div>Last updated on <time>{new Date(frontmatter.pubDate).toLocaleDateString('en-gb', {
						year: 'numeric',
						month: 'short',
						day: 'numeric',
					})}</time></div>}
				  <a href="#" class="backtotop" title="Back to top"><img src="/images/icons/chevron-up.svg" alt="chevron pointing up"></a>
					<slot />
					<a class="back" href="/basic/short">&larr; back to {"thorts"} index</a>
				</article>
			</div>
		</main>
		<Toggle />
	</body>
</html>
